# 목차
1. [if](#if)  
[퀴즈-if](#퀴즈-if)  
[퀴즈정답-if](#퀴즈정답-if)  
2. [while](#while)  
[퀴즈-while](#퀴즈-while)  
[퀴즈정답-while](#퀴즈정답-while)  
3. [for](#for)  
[퀴즈-for](#퀴즈-for)  
[퀴즈정답-for](#퀴즈정답-for)

# Statements

## if

### if

In [ ]:
if True:
    print('참입니다.')

In [ ]:
if False:
    print('거짓입니다.')

In [ ]:
x = 100
y = 200

In [ ]:
if x == y:
    print('x와 y는 같습니다.')

In [ ]:
if x < y:
    print('x가 y보다 작습니다.')

In [ ]:
if x > y:
    print('x가 y보다 큽니다.')

In [ ]:
fruits = ['Banana', 'Apple', 'Orange']
if 'Watermelon' not in fruits:
    print('수박이 없습니다.')

In [ ]:
s = {'a', 'b', 'c', 'd'}
if 'k' not in s:
    s.add('k')
s

In [ ]:
x = 100
if x > 10:    #error

In [ ]:
x = 100
if x > 10:    
    pass

### if else

In [ ]:
x = 100
y = 200 
if x < y:
    print('x가 y보다 작습니다.')
else:
    print('x가 y보다 크거나 같습니다.')

In [ ]:
if x == y:
    print('x와 y는 같습니다.')
else:
    print('x와 y는 다릅니다.')

In [ ]:
if x != y:
    print('x와 y는 다릅니다.')
else:
    print('x와 y는 같습니다.')

In [ ]:
fruits = ['Banana', 'Apple', 'Orange']
if 'Watermelon' in fruits:
    print('수박이 있습니다.')
else:
    print('수박이 없습니다.')

In [ ]:
fruits = ['Banana', 'Apple', 'Orange']
if 'Banana' in fruits:
    print('바나나가 있습니다.')
else:
    print('바나나가 없습니다.')

In [ ]:
stocks = ['GOOGL', 'MSFT', 'AAPL', 'AMZN', 'TSLA']
if 'EBAY' in stocks:
    print('이미 존재합니다.')
else:
    stocks.append('EBAY')
stocks

In [ ]:
age = 15
score = 50

if age < 13:
    if score > 30: 
        print('통과!')
    else:
        print('실패!')
else:
    if score > 60:
        print('통과!!')
    else:
        print('실패!!')

### if elif else

In [ ]:
x = 200
y = 0
if x == y:
    print('x와 y는 같습니다.')
elif x > y:
    print('x는 y보다 큽니다.')
else:
    print('x는 y보다 작습니다.')

In [ ]:
score = 60

if score > 90:
    grade = 'A'
elif score > 70: 
    grade = 'B'
elif score > 50: 
    grade = 'C'
else:
    grade = 'D'

grade

In [ ]:
a = 10
if a > 0:
    print('양수입니다')
elif a < 0:
    print('음수입니다')
else:
    print('0입니다')

### 퀴즈-if

Q. 다음 코드가 오류가 난 이유는?   
오류가 나지 않도록 수정하기

In [ ]:
x = 100
if x > 50:
print('통과')

Q. 다음 코드를 실행하기 전에 결과값을 예측해보기

In [ ]:
x = 10
y = -5
if x > 0 and y > 0:
    if x > y:
        print(x)
    else:
        print(y)
else:
    if x != y:
        print(x + y)
    else:
        print(x * y)

Q. 다음 중첩 조건문에 논리 연산자를 적용해 하나의 if 조건문으로 만들기

In [ ]:
x = 50
if x > 10:
    if x < 100:
        print('조건에 맞는 숫자입니다.')

Q. money가 10000 이상이면 택시를 타고  
1000 이상 10000 미만이면 버스를 타고  
1000 미만인 경우 걸어가고자 함.  
조건에 맞도록 다음 코드를 완성하기

In [ ]:
money = 500
if 

elif

else

### 퀴즈정답-if

Q. 다음 코드가 오류가 난 이유는?   
오류가 나지 않도록 수정하기

In [ ]:
x = 100
if x > 50:
print('통과')

A.

In [ ]:
x = 100
if x > 50:
    print('통과')

Q. 다음 코드를 실행하기 전에 결과값을 예측해보기

In [ ]:
x = 10
y = -5
if x > 0 and y > 0:
    if x > y:
        print(x)
    else:
        print(y)
else:
    if x != y:
        print(x + y)
    else:
        print(x * y)

A. 5

Q. 다음 중첩 조건문에 논리 연산자를 적용해 하나의 if 조건문으로 만들기

In [ ]:
x = 50
if x > 10:
    if x < 100:
        print('조건에 맞는 숫자입니다.')

A.

In [ ]:
x = 50
if x > 10 and x < 100:
    print('조건에 맞는 숫자입니다.')

Q. money가 10000 이상이면 택시를 타고  
1000 이상 10000 미만이면 버스를 타고  
1000 미만인 경우 걸어가고자 함.  
조건에 맞도록 다음 코드를 완성하기

In [ ]:
money = 500
if 

elif

else

A.

In [ ]:
money = 500
if money >= 10000:
    print('택시를 탄다')
elif money >= 1000:
    print('버스를 탄다')
else:
    print('걸어간다')

## while

### while

In [ ]:
x = 0
while x < 5:
    print(x)
    x += 1

In [ ]:
x = 0
while x < 5:
    x += 1
print(x)

In [ ]:
numbers = [100, 200, 0, 20, 50]
i = 0
while i < len(numbers):
    print(numbers[i])
    i += 1

In [ ]:
# 짝수만 출력하기
numbers = [16, 13, 52, 3, 1, 11, 47, 20, 0, 24, 53]
i = 0
while i < len(numbers):
    if numbers[i] % 2 == 0:
        print(numbers[i])
    i += 1

### break

In [ ]:
while True:
    x = input('단어를 입력하세요 ')
    if x == 'end': 
        break
    print('입력:', x)

In [ ]:
string = 'saldk;flksaldfnslafhkljqflnd;ahsdflvavdn;afjd'
i = 0
while i < len(string):
    print(string[i])
    if string[i] == ';':
        break
    i += 1

### continue

In [ ]:
while True:
    x = input('정수입력하기(종료:q)')
    if x == 'q':
        break
    num = int(x)
    if num % 2 != 0:
        continue
    print(num, 'squared is', num*num)

In [ ]:
x = 1000
while x > 0:
    print(x)
    if x < 50:
        x -= 10
        continue
    x /= 2

### 퀴즈-while

Q. while 문을 사용해서 다음과 같이 별(*)을 출력해보기
```
*
**
***
****
*****
******
*******
********
*********
**********
```

Q. 5000보다 작은 2의 배수를 하나의 리스트로 출력해보기

Q.  키와 밸류로 이루어진 각 리스트를 순서대로 조합하여 하나의 딕셔너리 만들어보기  
```{'name': '땡땡이', 'age': 10, 'address': '제주도', 'phone': '010-111-2222'}```

In [ ]:
key_list = ['name', 'age', 'address', 'phone']
val_list = ['땡땡이', 10, '제주도', '010-111-2222']

Q. 다음 코드를 완성해서 구구단 7단을 출력해보기

In [ ]:
i = 1
while True:
    print('7 *', i, '=',  7*i)

### 퀴즈정답-while

Q. while 문을 사용해서 다음과 같이 별(*)을 출력해보기
```
*
**
***
****
*****
******
*******
********
*********
**********
```

A.

In [ ]:
i = 1
while i<=10:
    print('*'*i)
    i += 1

Q. 5000보다 작은 2의 배수를 하나의 리스트로 출력해보기

A.

In [ ]:
res = []
i = 2
while (i < 5000):
    res.append(i)
    i *= 2
print(res)

Q.  키와 밸류로 이루어진 각 리스트를 순서대로 조합하여 하나의 딕셔너리 만들어보기  
```{'name': '땡땡이', 'age': 10, 'address': '제주도', 'phone': '010-111-2222'}```

In [ ]:
key_list = ['name', 'age', 'address', 'phone']
val_list = ['땡땡이', 10, '제주도', '010-111-2222']

A.

In [ ]:
i = 0
dic = {}
while i < len(key_list):
    dic[key_list[i]] = val_list[i]
    i += 1
print(dic)

Q. 다음 코드를 완성해서 구구단 7단을 출력해보기

In [ ]:
i = 1
while True:
    print('7 *', i, '=',  7*i)

A.

In [ ]:
i = 1
while True:
    if i > 9:
        break
    print('7 *', i, '=',  7*i)
    i += 1

## for

### for

In [ ]:
for i in [10, 20, 30, 40]:
    print(i)

In [ ]:
for t in 'python':
    print(t)

In [ ]:
for i in (-10, 0, 10):
    print(i)

In [ ]:
for i in {1, 2, 3}:
    print(i)

In [ ]:
for i in {1:'a', 2:'b', 3:'c'}:
    print(i)

In [ ]:
scores = [100, 40, 50, 60, 20, 10]
for s in scores:
    if s > 80:
        print(s, '점 합격')
    else:
        print(s, '점 불합격')

### break

In [ ]:
list_a = ['a', 'b', 'c', 'd', 'end', 'e', 'f']
for t in list_a:
    if t == 'end':
        break
    print(t)

In [ ]:
for i in (10, 20, 30, 40, 50):
    print(i)
    if i > 30:
        break

### continue

In [ ]:
scores = [10, 30, 120, 20, 60, 90, 110]
for s in scores:
    if s > 100:
        continue
    print(s,'점입니다. 100점을 위해서', 100-s,'점이 더 필요합니다.')

In [ ]:
stocks = ['GOOGL', 'MSFT', 'AAPL', 'AMZN', 'TSLA']
for s in stocks:
    if s == 'AAPL':
        continue
    print(s)

### 내장함수 range

In [ ]:
list(range(7))

In [ ]:
list(range(-3, 4))

In [ ]:
list(range(100, 200, 20))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(100, 105):
    print(i)

In [ ]:
s = []
for i in range(-1000, 1000, 100):
    s.append(i)
print(s)

In [ ]:
print('구구단')
for i in range(2, 10):
    for j in range(1, 10):
        print('{:2}'.format(i*j), end=' ')
    print('')

### 내장함수 zip

In [ ]:
names = ['YJ', 'SG', 'YM', 'JG', 'SJ', 'HD']
scores = [10, 20, 50, 20, 30, 40 ]

In [ ]:
for n, s in zip(names, scores):
    print(n, ':', s)

In [ ]:
ages = [30, 20, 40, 10, 20, 30]
for n, s, a in zip(names, scores, ages):
    print(n, '- ages:', a, ', scores:', s)

길이가 다른 경우? -> 짧은 길이에 맞춤

In [ ]:
list_a = [0, 1, 2, 3, 4]
list_b = [5, 6, 7]
for a, b in zip(list_a, list_b):
    print('a:',a, 'b:',b, 'a+b:', a+b)

### 퀴즈-for

Q. 주어진 리스트의 요소 중에서 홀수만 100을 더해 출력하는 코드를 작성해보기

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

Q. for 문을 사용하여 다음 점수의 평균을 구해보기

In [ ]:
scores = [10, 30, 100, 20, 60, 90, 90, 60, 20, 10]

Q. 주어진 두 리스트를 키-밸류 쌍으로 하는 하나의 딕셔너리로 만들기 (zip 사용하기)

In [ ]:
key_list = ['name', 'age', 'address', 'phone']
val_list = ['땡땡이', 10, '제주도', '010-111-2222']

Q. 주어진 딕셔너리의 키-밸류 쌍을 다음과 같이 한줄씩 출력해보기
```
name : 땡땡이  
age : 10  
address : 제주도  
phone : 010-111-2222  
```

In [ ]:
dic = {'name': '땡땡이', 'age': 10, 
       'address': '제주도', 'phone': '010-111-2222'}

Q. 주어진 리스트 nums에서 두개의 요소를 더해 target 값을 만드는 요소의 인덱스를 한쌍만 구해보기  
```
Example:

Given nums = [2, 7, 11, 15],   
target = 9,  
Because nums[0] + nums[1] = 2 + 7 = 9,  
return [0, 1]
```

In [ ]:
nums = [2, 7, 11, 15, 8, 10, 9, 6]
target = 10

### 퀴즈정답-for

Q. 주어진 리스트의 요소 중에서 홀수만 100을 더해 출력하는 코드를 작성해보기

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

A.

In [ ]:
for n in numbers:
    if n % 2 == 1:
        print(n+100)

Q. for 문을 사용하여 다음 점수의 평균을 구해보기

In [ ]:
scores = [10, 30, 100, 20, 60, 90, 90, 60, 20, 10]

A.

In [ ]:
total = 0
for s in scores:
    total += s
print(total/len(scores))

Q. 주어진 두 리스트를 키-밸류 쌍으로 하는 하나의 딕셔너리로 만들기 (zip 사용하기)

In [ ]:
key_list = ['name', 'age', 'address', 'phone']
val_list = ['땡땡이', 10, '제주도', '010-111-2222']

A.

In [ ]:
dic = {}
for k, v in zip(key_list, val_list):
    dic[k] = v
dic

Q. 주어진 딕셔너리의 키-밸류 쌍을 다음과 같이 한줄씩 출력해보기

```
name : 땡땡이  
age : 10  
address : 제주도  
phone : 010-111-2222
```

In [ ]:
dic = {'name': '땡땡이', 'age': 10, 
       'address': '제주도', 'phone': '010-111-2222'}

A.

In [ ]:
for key, value in dic.items():
    print(key, ':', value)

In [ ]:
for key in dic.keys():
    print(key, ':', dic[key])

Q. 주어진 리스트 nums에서 두개의 요소를 더해 target 값을 만드는 요소의 인덱스 한쌍만 구해보기  
```
Example:

Given nums = [2, 7, 11, 15],   
target = 9,  
Because nums[0] + nums[1] = 2 + 7 = 9,  
return [0, 1]
```

In [ ]:
nums = [2, 7, 11, 15, 8, 10, 9, 6]
target = 10

A.

In [ ]:
flag = False
for i in range(len(nums)-1):
    for j in range(i+1, len(nums)):
        if nums[i] + nums[j] == target:
            print(i, j)
            flag = True
            break
    if flag == True:
        break

In [ ]:
dic = {}
for i in range(len(nums)):
    if nums[i] in dic:
        print(dic[nums[i]], i)
        break
    else:
        dic[target-nums[i]] = i

# Appendix

## 파일_읽기_쓰기

### open

In [ ]:
f = open('test.txt', 'r')

### close

In [ ]:
f.close()

### with

In [ ]:
with open('test.txt', 'r') as f:
    pass

### write

In [ ]:
with open('test2.txt', 'w') as f:
    f.write('안녕하세요\n')
    f.write('지금은 파일 읽고 쓰기를 하고 있습니다..')

### read

In [ ]:
with open('test.txt', 'r') as f:
    text = f.read()
    print(text)

### readline

In [ ]:
with open('test.txt', 'r') as f:
    text = f.readline()
    print(text)

In [ ]:
with open('test.txt', 'r') as f:
    while True:
        text = f.readline()
        if not text: break
        print(text)

### readlines

In [ ]:
with open('test.txt', 'r') as f:
    text = f.readlines()
    print(text)