1.[함수](#functions)  
[퀴즈-함수](#퀴즈-함수)  
[퀴즈정답-함수](#퀴즈정답-함수)  
2.[클래스](#class)  
[퀴즈-클래스](#퀴즈-클래스)  
[퀴즈정답-클래스](#퀴즈정답-클래스)  
3.[Appendix](#Appendix)

## functions

### 함수의 기본

In [ ]:
def my_func():
    print('함수가 실행되었습니다.')

In [ ]:
my_func()

In [ ]:
def hello():
    print('Hello')

In [ ]:
hello()

In [ ]:
hello()

### 매개변수가 있는 함수

In [ ]:
def hello_n_times(n):
    for i in range(n):
        print('hello')

In [ ]:
hello_n_times(1)

In [ ]:
hello_n_times(3)

In [ ]:
def even_nums(n):
    for i in range(n):
        if i % 2 == 0:
            print(i)
even_nums(10)

In [ ]:
def print_n_times(string, n):
    for i in range(n):
        print(string)

In [ ]:
print_n_times('안녕하세요', 2)

In [ ]:
print_n_times('좋은 하루 보내세요', 3)

### 리턴

In [ ]:
def func():
    print('A')
    return
    print('B')

In [ ]:
print(func())

In [ ]:
def func():
    print('A')
    return 'result'
    print('B')

In [ ]:
print(func())

In [ ]:
def add_and_mul(a, b):
    return a+b, a*b

In [ ]:
add_and_mul(2, 3)

In [ ]:
def str_times(string, n):
    return string*n

In [ ]:
print(str_times('안녕',3))

### 전역변수/지역변수

In [ ]:
x = 100
def test():
    print(x)
test()
print(x)

In [ ]:
def test():
    y = 100
    print(y)
test()
print(y)
'''
y 는 test 내에서 사용할 수 있는 지역변수임.
함수 밖에서 사용하려고 하면 정의되지 않았다는 오류 발생

'''

함수 내에서 전역변수를 변경할 수 없음

In [ ]:
x = 100
def f():
    x = 200
f()
print(x)

그렇다면 어떻게 해야할까?
1. return 사용
2. global 사용

In [ ]:
x = 100
def f():
    x = 200
    return x
x = f()
print(x)

In [ ]:
x = 100
def f():
    global x
    x = 200
    return x
f()
print(x)

### lambda

In [ ]:
f = lambda x: x**2+1000

print(f(0))
print(f(1))
print(f(2))
print(f(3))

In [ ]:
f2 = lambda x1, x2: x1**x2+1000

print(f2(1, 2))
print(f2(1, 3))
print(f2(2, 3))
print(f2(3, 3))

### 퀴즈-함수

Q. 주어진 숫자가 양수인지 음수인지 0인지 판별해주는 함수를 작성해보기

In [ ]:
def f(num):
    pass

Q. 다음과 같은 수식을 파이썬 함수로 만들어보기  
$f(x) = 2x^2+5 $

In [ ]:
def f():
    return
print(f(3))

Q. 구구단 출력하기  
단수를 입력으로 받고 해당 단수를 프린트하기

In [ ]:
def times_table(x):
    print(x,'단')
    return
times_table(5)
times_table(8)

Q. 아이디를 인풋으로 받아서 members에 존재하면 '존재하는 아이디입니다.' 이라고 출력하고  
존재하지 않으면 '아이디로 가능합니다.'라고 출력하여라

In [ ]:
members = {'good01', 'hahaha', 'na2020', 'happy', 'good', 'yjkim'}
def login(t):
    pass
login('go')
login('happy')
login('haha')
login('yjpark')

Q. 입력받은 수가 양수이면 그대로 리턴하고 그렇지 않으면 0을 리턴하기

In [ ]:
def relu(x):
    return

Q. 다음 코드에서 10이 출력되는 이유는?

In [ ]:
a = 10
def f(a):
    a += 2
f(a)
print(a)

Q. 나이를 입력받으면 x대 라고 리턴값을 주는 함수 만들어보기
``` 
f(23)  # 20대
f(55)  # 50대
f(89)  # 80대
```

In [ ]:
def f(age):
    return

In [ ]:
print(f(23))  # 20대
print(f(55))  # 50대
print(f(89))  # 80대

### 퀴즈정답-함수

Q. 주어진 숫자가 양수인지 음수인지 0인지 판별해주는 함수를 작성해보기

In [ ]:
def f(num):
    pass

A.

In [ ]:
def f(num):
    if num > 0:
        return '양수'
    elif num < 0:
        return '음수'
    else:
        return '0'
print(f(-10))
print(f(-1.0))
print(f(0))
print(f(1.0))
print(f(10))

Q. 다음과 같은 수식을 파이썬 함수로 만들어보기  
$f(x) = 2x^2+5 $

In [ ]:
def f():
    return
print(f(3))

A.

In [ ]:
def f(x):
    return 2*x**2+5
print(f(3))

Q. 구구단 출력하기  
단수를 입력으로 받고 해당 단수를 프린트하기

In [ ]:
def times_table(x):
    print(x,'단')
    return
times_table(5)
times_table(8)

A.

In [ ]:
def times_table(x):
    print(x,'단')
    for i in range(1, 10):
        print(x,'x',i,'=', x*i)
    return
times_table(5)
times_table(8)

Q. 아이디를 인풋으로 받아서 members에 존재하면 '존재하는 아이디입니다.' 이라고 출력하고  
존재하지 않으면 '아이디로 가능합니다.'라고 출력하여라

In [ ]:
members = {'good01', 'hahaha', 'na2020', 'happy', 'good', 'yjkim'}
def login(t):
    pass
login('go')
login('happy')
login('haha')
login('yjpark')

A.

In [ ]:
members = {'good01', 'hahaha', 'na2020', 'happy', 'good', 'yjkim'}
def login(t):
    if t in members:
        print('존재하는 아이디입니다.')
    else:
        print('아이디로 가능합니다.')
    return
login('go')
login('happy')
login('haha')
login('yjpark')

Q. 입력받은 수가 양수이면 그대로 리턴하고 그렇지 않으면 0을 리턴하기

In [ ]:
def relu(x):
    return

A.

In [ ]:
def relu(x):
    if x > 0: 
        return x
    else:
        return 0
print(relu(10))
print(relu(-10))
print(relu(0))

Q. 다음 코드에서 10이 출력되는 이유는?

In [ ]:
a = 10
def f(a):
    a += 2
f(a)
print(a)

A. 함수 f 내부에서 바꾼 a는 지역변수이다.  
print(a)에서 a는 전역변수이다.  
그러므로 10이 그대로 출력된다.

Q. 나이를 입력받으면 x대 라고 리턴값을 주는 함수 만들어보기
``` 
f(23)  # 20대
f(55)  # 50대
f(89)  # 80대
```

In [ ]:
def f(age):
    return

A.

In [ ]:
def f(age):
    return str(age//10*10) + '대'

In [ ]:
print(f(23))  # 20대
print(f(55))  # 50대
print(f(89))  # 80대

## class

### 클래스란?

In [ ]:
print(type(list()))

In [ ]:
i1, i2, i3 = [], [], []

In [ ]:
i1.append(10)
print(i1, i2, i3)

In [ ]:
i2.extend([10, 20])
print(i1, i2, i3)

In [ ]:
i2.remove(10)
print(i1, i2, i3)

In [ ]:
i2.extend([10, 20])
i2

In [ ]:
i1

In [ ]:
i3

In [ ]:
i2.remove(10)
print(i1, i2, i3)

### Class 기본

In [ ]:
class Person:
    def __init__(self, name, job, dept, pay):
        self.name = name
        self.job = job
        self.dept = dept
        self.pay = pay

In [ ]:
id001 = Person('박땡땡', '디자이너', '디자인팀', 5000)
id002 = Person('김땡땡', '영업사원', '영업팀', 5000)

메서드 추가하기

In [ ]:
class Person:
    def __init__(self, name, job, dept, pay):
        self.name = name
        self.job = job
        self.dept = dept
        self.pay = pay
    
    def changeDept(self, dept):
        self.dept = dept
    
    def giveRaise(self, percent):
        self.pay = int(self.pay*(1+percent))

In [ ]:
id001 = Person('박땡땡', '디자이너', '디자인팀', 5000)
id002 = Person('김땡땡', '영업사원', '영업팀', 5000)

In [ ]:
print(id001.name, id001.job, id001.dept, id001.pay)
print(id002.name, id002.job, id002.dept, id002.pay)

In [ ]:
id002.giveRaise(0.10)

In [ ]:
print(id001.pay, id002.pay)

In [ ]:
id002.giveRaise(0.05)

In [ ]:
print(id001.pay, id002.pay)

In [ ]:
id001.changeDept('디자인2팀')

In [ ]:
print(id001.dept, id002.dept)

### 상속

In [ ]:
class Person:
    def __init__(self, name, job, dept, pay):
        self.name = name
        self.job = job
        self.dept = dept
        self.pay = pay
    
    def changeDept(self, dept):
        self.dept = dept
    
    def giveRaise(self, percent):
        self.pay = int(self.pay*(1+percent))

In [ ]:
class Manager(Person):
    def manage(self, dept):
        self.manageDepts = dept

In [ ]:
id100 = Manager('정땡땡', '디자이너', '디자인2팀', 9000)

In [ ]:
print(id100.name, id100.job, id100.dept, id100.pay)

In [ ]:
id100.changeDept('디자인팀')

In [ ]:
print(id100.dept)

In [ ]:
id100.manage(['디자인팀', '디자인2팀', '디자인3팀'])

In [ ]:
print(id100.manageDepts)

In [ ]:
id001 = Person('박땡땡', '디자이너', '디자인팀', 5000)

In [ ]:
id001.giveRaise(0.1)

In [ ]:
print(id001.pay)

In [ ]:
id001.manage(['디자인팀'])   #error

### 오버라이딩

In [ ]:
class Person:
    def __init__(self, name, job, dept, pay):
        self.name = name
        self.job = job
        self.dept = dept
        self.pay = pay
    
    def changeDept(self, dept):
        self.dept = dept
    
    def giveRaise(self, percent):
        self.pay = int(self.pay*(1+percent))

In [ ]:
class Manager(Person):
    def manage(self, dept):
        self.manageDepts = dept

    def giveRaise(self, percent, bonus=0.05):
        Person.giveRaise(self, percent+bonus)

In [ ]:
id200 = Manager('윤땡땡', '엔지니어', '개발1팀', 10000)

In [ ]:
id200.giveRaise(0.1, 0.1)

In [ ]:
print(id200.pay)

In [ ]:
id300 = Manager('최땡땡', '총무', '관리팀', 10000)

In [ ]:
id300.giveRaise(0.1)

In [ ]:
print(id300.pay)

### 퀴즈-클래스

Q. MyBook 클래스를 완성하기  
1. 생성자 채우기   
클래스 생성시 인자를 받아서 인스턴스 변수 name 과 author를 만들기 
2. 점수를 매길 수 있는 메서드 채우기   
인자를 받아 rating 이라는 인스턴스 변수 만들기  
3. 가격을 정할 수 있는 메서드 채우기  
인자를 받아 price 라는 인스턴스 변수 만들기

4. 클래스를 완성 후 다음 코드들을 실행시키면서 이해해보기  
에러가 나는 코드는 그 이유를 고민해보기

In [ ]:
class MyBook:
    def __init__(self):
        pass
    def set_rating(self):
        print(self.name, ': ',  rating, '점을 주었습니다.', sep='')
    def set_price(self):
        pass

In [ ]:
a1 = MyBook('나의 눈부신 친구', '엘레나 페란테')
print(a1.name)      #나의 눈부신 친구
print(a1.author)    #엘레나 페란테

In [ ]:
print(a.rating)     #error

In [ ]:
a1.set_rating(8)
print(a1.rating)    #8

In [ ]:
print(a1.price)     #error

In [ ]:
a1.set_price(16800)
print(a1.price)     #16800

In [ ]:
a2 = MyBook('빨강 머리 앤','루시 모드 몽고메리')
print(a2.name)
print(a2.author)

In [ ]:
a2.set_rating(7)
a2.set_price(14500)

In [ ]:
print(a2.rating)    #7
print(a2.price)     #14500

Q. 상속  
위에서 정의한 MyBook을 상속받아 MyFavoriteBook이라는 자식 클래스를 만들기  
1. has_cover 메서드 완성하기  
1-1. 인자를 받아 cover라는 인스턴스 변수를 가질 수 있도록 할 것  
cover의 기본값은 False로 만들 것  
1-2. cover가 True이면 "'책이름' 책에 커버를 씌웠습니다."  
False이면 "'책 이름' 책에 커버가 없습니다."라는 문장 프린트하기 
  
2. 클래스를 완성 후 다음 코드들을 실행시키면서 이해해보기  
에러가 나는 코드는 그 이유를 고민해보기

In [ ]:
class MyFavoriteBook(MyBook):
    def has_cover(self):
        print(self.name, "책에 커버를 씌웠습니다.")
        print(self.name, "책에 커버가 없습니다.")

In [ ]:
b1 = MyFavoriteBook()     # error

In [ ]:
b1 = MyFavoriteBook('나의 라임 오렌지나무', 'J. M. 바스콘셀로스')
print(b1.name, b1.author)

In [ ]:
b1.set_rating(9)

In [ ]:
b1.cover                # error

In [ ]:
b1.has_cover(True)

In [ ]:
b1.has_cover(False)

In [ ]:
print(b1.cover)

### 퀴즈정답-클래스

Q. MyBook 클래스를 완성하기  
1. 생성자 채우기   
클래스 생성시 인자를 받아서 인스턴스 변수 name 과 author를 만들기 
2. 점수를 매길 수 있는 메서드 채우기   
인자를 받아 rating 이라는 인스턴스 변수 만들기  
3. 가격을 정할 수 있는 메서드 채우기  
인자를 받아 price 라는 인스턴스 변수 만들기

4. 클래스를 완성 후 다음 코드들을 실행시키면서 이해해보기  
에러가 나는 코드는 그 이유를 고민해보기

In [ ]:
class MyBook:
    def __init__(self):
        pass
    def set_rating(self):
        
        print(self.name, ': ',  rating, '점을 주었습니다.', sep='')
    def set_price(self):
        pass

A.

In [ ]:
class MyBook:
    def __init__(self, name, author):
        self.name = name
        self.author = author
    def set_rating(self, rating):
        self.rating = rating
        print(self.name, ': ',  rating, '점을 주었습니다.', sep='')
    def set_price(self, price):
        self.price = price

In [ ]:
a1 = MyBook('나의 눈부신 친구', '엘레나 페란테')
print(a1.name)      #나의 눈부신 친구
print(a1.author)    #엘레나 페란테

In [ ]:
print(a.rating)     #error

In [ ]:
a1.set_rating(8)
print(a1.rating)    #8

In [ ]:
print(a1.price)     #error

In [ ]:
a1.set_price(16800)
print(a1.price)     #16800

In [ ]:
a2 = MyBook('빨강 머리 앤','루시 모드 몽고메리')
print(a2.name)
print(a2.author)

In [ ]:
a2.set_rating(7)
a2.set_price(14500)

In [ ]:
print(a2.rating)    #7
print(a2.price)     #14500

Q. 상속  
위에서 정의한 MyBook을 상속받아 MyFavoriteBook이라는 자식 클래스를 만들기  
1. has_cover 메서드 완성하기  
1-1. 인자를 받아 cover라는 인스턴스 변수를 가질 수 있도록 할 것  
cover의 기본값은 False로 만들 것  
1-2. cover가 True이면 "'책이름' 책에 커버를 씌웠습니다."  
False이면 "'책 이름' 책에 커버가 없습니다."라는 문장 프린트하기 
  
2. 클래스를 완성 후 다음 코드들을 실행시키면서 이해해보기  
에러가 나는 코드는 그 이유를 고민해보기

In [ ]:
class MyFavoriteBook(MyBook):
    def has_cover(self):
        print(self.name, "책에 커버를 씌웠습니다.")
        print(self.name, "책에 커버가 없습니다.")

A.

In [ ]:
class MyBook:
    def __init__(self, name, author):
        self.name = name
        self.author = author
    def set_rating(self, rating):
        self.rating = rating
        print(self.name, ': ',  rating, '점을 주었습니다.', sep='')
    def set_price(self, price):
        self.price = price

In [ ]:
class MyFavoriteBook(MyBook):
    def has_cover(self, cover=False):
        self.cover = cover
        if self.cover == True:
            print(self.name, "책에 커버를 씌웠습니다.")
        elif self.cover == False:
            print(self.name, "책에 커버가 없습니다.")

In [ ]:
b1 = MyFavoriteBook()     # error

In [ ]:
b1 = MyFavoriteBook('나의 라임 오렌지나무', 'J. M. 바스콘셀로스')
print(b1.name, b1.author)

In [ ]:
b1.set_rating(9)

In [ ]:
b1.cover                # error

In [ ]:
b1.has_cover(True)

In [ ]:
b1.has_cover(False)

In [ ]:
print(b1.cover)

# Appendix

## functions

### 위치인자/ 키워드인자

In [ ]:
def print_abc(a, b, c):
    print('a:', a)
    print('b:', b)
    print('c:', c)

위치인자

In [ ]:
print_abc(10, 20, 30)

키워드인자

In [ ]:
print_abc(a=10, b=20, c=30)

In [ ]:
# 키워드인자로 주면 순서는 상관 없음
print_abc(c=30, b=20, a=10)

### 함수 초기값 설정

In [ ]:
def func(x, y=0):
    print(x, y)

In [ ]:
# x=10, y=10 을 입력값으로 함
func(10, 10)

In [ ]:
# x=10을 입력값으로 함. y는 입력해주지 않았으니 기본값인 0 사용
func(20)

In [ ]:
# 일반매개변수, 기본매개변수 순서대로 잘 선언함 
def func(x, y=0):
    print(x, y)

In [ ]:
# 기본매개변수 뒤에 일반매개변수가 와서 오류남
# 순서를 바꾸거나 y도 기본값을 주어 기본매개변수를 만들면 오류해결
def func(x=0, y):
    print(x, y)

### 가변 매개변수

In [ ]:
'''
함수 선언
add_func은 입력이 몇 개이든 상관 없음
*args 라고 매개변수 이름 앞에  *를 붙이면 입력값 전부를 모아 튜플로 만들어줌.
*args는 매개변수를 뜻하는 arguments의 약자. 관례적으로 많이 쓰임.
'''
def add_func(*args):
    res = 0
    for i in args:
        res += i
    return res

In [ ]:
print(add_func(0))

In [ ]:
print(add_func(10, 20, 30))

In [ ]:
def add_func(s, *args):
    print(s)
    print(sum(args))

In [ ]:
add_func('총합', 2, 3, 4)

In [ ]:
def add_func(*args, s):
    print(s)
    print(sum(args))

In [ ]:
'''
함수 호출
args = (2, 3, 4, '총합')이 되고 일반 매개변수 s는 인자를 전달받지 못해 오류가 남 
매개변수 선언시 순서를 바꾸거나 호출시 (2, 3, 4, s = '총합')이라고 s를 키워드 인자로 주면 오류 해결
'''
add_func(2, 3, 4, '총합')

In [ ]:
add_func(2, 3, 4, s='총합')

## classes

### 클래스 변수

In [ ]:
class Student:
    count = 0
    students = []
    def __init__(self):
        Student.count += 1
        Student.students.append(self)

In [ ]:
print(Student.count)
print(Student.students)

In [ ]:
id001 = Student()
id002 = Student()

In [ ]:
print(Student.count)
print(Student.students)

In [ ]:
id001.count #이렇게 접근 가능하지만 비추천

### 클래스 메서드

In [ ]:
class Student:
    count = 0
    students = []

    @classmethod
    def print(cls):
        print('*학생 목록*')
        for s in cls.students:
            print(str(s.name))

    def __init__(self, name):
        self.name = name 
        Student.count += 1
        Student.students.append(self)

In [ ]:
Student.print()

In [ ]:
id001 = Student('박땡땡')
id002 = Student('김땡땡')
id003 = Student('최땡땡')

In [ ]:
Student.print()

## 모듈_패키지

### 모듈
표준 모듈

In [ ]:
import math

In [ ]:
math.pi

In [ ]:
math.sin(1)

In [ ]:
from math import pi, sin

In [ ]:
pi

In [ ]:
sin(1)

### 패키지

In [ ]:
import numpy
x = numpy.array([10, 20])
x

In [ ]:
y = numpy.linalg.det([[10, 20], [10, 20]])

as

In [ ]:
import numpy as np
arr = np.array([10, 20])

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt