# 목차
1. [리스트](#리스트)  
[퀴즈](#퀴즈-리스트)  
[퀴즈 정답](#퀴즈정답-리스트)  

2. [튜플](#튜플)  
[퀴즈](#퀴즈-튜플)  
[퀴즈 정답](#퀴즈정답-튜플)  

3. [딕셔너리](#딕셔너리)  
[퀴즈](#퀴즈-딕셔너리)  
[퀴즈 정답](#퀴즈정답-딕셔너리)  
4. [셋](#셋)  
[퀴즈](#퀴즈-셋)  
[퀴즈 정답](#퀴즈정답-셋)

## 리스트

### 리스트란?

In [ ]:
[1, 2, 3 , 4, 5]

In [ ]:
type([1, 2, 3, 4, 5])

In [ ]:
['제', 1, '장']

In [ ]:
[print, 'print 함수']

In [ ]:
['1', ['2', '3']]

### 리스트 만들기

In [ ]:
empty_list = []
empty_list

In [ ]:
type(empty_list)

In [ ]:
weekdays = ['월', '화', '수', '목', '금']
weekdays

In [ ]:
type(weekdays)

In [ ]:
list_a = [10, 20, 30, ['a', 'b'], 40]
list_a

In [ ]:
type(list_a)

### 리스트로 형변환

In [ ]:
empty_list = list()
empty_list

In [ ]:
a = '문자열'
print('a:', a)
print('type(a):', type(a))

In [ ]:
b = list(a)
print('b:', b)
print('type(b):', type(b))

### 리스트 인덱싱

In [ ]:
city = ['서울', '인천', '부산', '대구', '대전', '광주', '울산', '세종']

In [ ]:
city[0]

In [ ]:
city[2]

In [ ]:
city[-1]

In [ ]:
city[-2]

In [ ]:
city = [['서울', '인천', '부산', '대구', '대전', '광주', '울산', '세종'],
        ['경기도', '강원도', '충청도', '전라도', '경상도', '제주']]

In [ ]:
city[0]

In [ ]:
city[0][0]

In [ ]:
city[0][-1]

In [ ]:
city[1]

In [ ]:
city[1][1]

In [ ]:
city[1][-1]

### 리스트 슬라이싱

In [ ]:
food = ['한식', '양식', '중식', '일식']

In [ ]:
food[0:2]

In [ ]:
food[:3]

In [ ]:
food[2:]

In [ ]:
food[0:4:2]

In [ ]:
food[::2]

In [ ]:
food[:]

### 리스트 요소 변경하기

In [ ]:
food = ['한식', '양식', '중식', '일식']

In [ ]:
food[-1] = '분식'
food

바꿀 값과 대체갈 값의 개수가 동일할 경우

In [ ]:
food[0:2] = ['Korean', 'western']
food

바꿀 값이 대체할 값보다 적은 경우

In [ ]:
food[2:4] = ['Italian', 'French', 'Chinese']
food

바꿀 값이 대체할 값보다 많은 경우

In [ ]:
food[1:4] = ['mexican']
food

In [ ]:
x = [0, 1, 2, 3, 4, 5]
x[2:4] = [200, 300]
x

In [ ]:
x = [0, 1, 2, 3, 4, 5]
x[2:4] = [100, 200, 300, 400, 500, 600]
x

In [ ]:
x = [0, 1, 2, 3, 4, 5]
x[1:5] = [1]
x

### 리스트 길이

In [ ]:
food = ['한식', '양식', '중식', '일식']
len(food)

In [ ]:
empty_list = []
len(empty_list)

In [ ]:
city = [['서울', '인천', '부산', '대구', '대전', '광주', '울산', '세종'],
        ['경기도', '강원도', '충청도', '전라도', '경상도', '제주']]
len(city)

In [ ]:
len(city[0])

### 문자열로 반환하기

In [ ]:
'*'.join(['a','b','c'])

In [ ]:
j = ['Joins', 'the', 'elements', 'of', 'an', 'iterable',
    'to', 'the', 'end', 'of', 'the', 'string']
' '.join(j)

### 리스트 연산자

#### 리스트 연결 연산자 +

In [ ]:
[0, 2, 4] + [1, 3, 5]

In [ ]:
[0] + [1, 2, 3]

In [ ]:
list_a = [1, 2, 3, 4, 5]
list_b = [100, 200]

In [ ]:
list_a + list_b

In [ ]:
list_a + list_b + list_a

In [ ]:
list_a += list_b
list_a

#### 리스트 반복 연산자 *

In [ ]:
[0]*10

In [ ]:
x = [10, 20]
x*3

In [ ]:
x*5

In [ ]:
[0, [1, 2], 3]*2

#### 리스트 in / not in 연산자

In [ ]:
stocks = ['GOOGL', 'MSFT', 'AAPL', 'AMZN', 'TSLA']

In [ ]:
'EBAY' in stocks

In [ ]:
'EBAY' not in stocks

In [ ]:
'AAPL' in stocks

In [ ]:
'AAPL' not in stocks

### 리스트 메서드

#### list.append()

In [ ]:
x = [1, 2, 3]
x.append(4)
x

In [ ]:
x.append(0)
x

In [ ]:
animals = ['사자', '호랑이', '개']
animals.append('고양이')
animals.append('토끼')
animals.append('말')
animals

In [ ]:
animals.append(['원숭이', '타조'])
animals

#### list.extend()

In [ ]:
x = [1, 2, 3]
x.extend([4, 5, 6])
x

In [ ]:
animals = ['사자', '호랑이', '개']
animals.extend(['고양이', '토끼', '말'])
animals

extend와 + 차이점

In [ ]:
x1 = [10, 20]
x2 = [30, 40, 50]
print(x1 + x2)

In [ ]:
print(x1)
print(x2)

In [ ]:
x1 = [10, 20]
x2 = [30, 40, 50]
print(x1.extend(x2))

In [ ]:
print(x1)
print(x2)

#### list.insert()

In [ ]:
x = [10, 20, 30, 40, 50]
x.insert(3, 1000)
x

In [ ]:
x.insert(-2, 2000)
x

#### list.pop()

In [ ]:
stocks = ['GOOGL', 'MSFT', 'AAPL', 'AMZN', 'TSLA']

In [ ]:
stocks.pop(1)

In [ ]:
stocks

In [ ]:
stocks.pop(-2)

삭제하고자 하는 인덱스가 리스트 인덱스의 범위를 벗어난 경우는?

In [ ]:
stocks.pop(10)  # error

#### del list[i]

In [ ]:
stocks = ['GOOGL', 'MSFT', 'AAPL', 'AMZN', 'TSLA']
del stocks[2]

In [ ]:
stocks

In [ ]:
del stocks[-2]

In [ ]:
stocks

삭제하고자 하는 인덱스가 리스트 인덱스의 범위를 벗어난 경우는?

In [ ]:
del stocks[10]

#### list.remove()

In [ ]:
list_a = ['a', 'b', 'c', 'd', 'a', 'b', 'c', 'd']
list_a.remove('a')
list_a

삭제하고자 하는 요소가 리스트 안에 없는 경우는?

In [ ]:
list_a('e')    #error

#### list.count()

In [ ]:
list_a = ['김', '이', '박', '나', '박', '한', '김', '이', '김', '최']
list_a.count('박')

In [ ]:
list_a.count('배')

#### list.sort()

In [ ]:
a = [10, 20, 30, 10, 20, -10, 0, -10] 
a.sort()
a

In [ ]:
a = [10, 20, 30, 10, 20, -10, 0, -10]
sorted(a)

In [ ]:
a

In [ ]:
list_a = ['김', '이', '박', '나', '박', '한', '김', '이', '김', '최']
list_a.sort()
list_a

In [ ]:
list_a = ['김', '이', '박', '나', '박', '한', '김', '이', '김', '최']
list_a.sort(reverse=True)
list_a

### 퀴즈-리스트

Q. 리스트의 특징은?

A.

Q. 리스트 만들기  
변수 fruits에 좋아하는 과일 이름을 리스트 타입으로 담기

Q. 리스트 인덱싱  
다음 리스트에서 인덱싱을 통해 'a'라는 요소만 얻기

In [ ]:
list_a = [[1, 2], [0, 10, 20, ['a', 'b']], [100, 200, 300]]

Q. 리스트 슬라이싱  
다음 리스트에서 인덱싱과 슬라이싱을 통해 'p', 'y', 't', 'o', 'n'이라는 요소들만 얻기

In [ ]:
list_a = [10, [10, ['a', 'p', 'y', 't', 'o', 'n'], 20], 20]

Q. 요소 변경하기  

다음 리스트에서 '바람 서리 불변함은 우리 기상일세.' 요소 대신에 '하느님이 보우하사 우리나라 만세.' 요소 넣기

In [ ]:
x = ['동해 물과 백두산이 마르고 닳도록',
    '바람 서리 불변함은 우리 기상일세.',
    '무궁화 삼천리 화려 강산',
    '대한 사람, 대한으로 길이 보전하세.']

Q. 리스트 길이  
다음 리스트의 길이는?

In [ ]:
a = [48, 48, 27, 60, 18, 11, 58, 89, 89, 12, 56, 32, 28]

Q. 리스트 연결 연산자   
다음 두 리스트를 합쳐서 새로운 리스트 list_c를 만들어보기  
``` list_c = ['001', '002', '006', '102', '105', '103', '102'] ```

In [ ]:
list_a = ['001', '002', '006']
list_b = ['102', '105', '103', '102']

Q. 다음 숫자들 중 주어진 리스트x에 포함되지 않은 숫자는?  
10, 12, 32, 60, 22

In [ ]:
x = [48, 48, 27, 60, 18, 11, 58, 89, 89, 12, 56, 32, 28]

Q. 다음 리스트 마지막에 좋아하는 음식 한가지를 추가해보기

In [ ]:
food = ['피자', '파스타', '샌드위치']

Q. 다음 리스트 마지막에 동물 이름 세가지를 추가해보기

In [ ]:
animals = ['호랑이', '사자']

Q. 다음 리스트에서 호랑이와 사자 사이에 여우를 추가해보기

In [ ]:
animals = ['호랑이', '사자']

Q. 다음 리스트에서 '당근'을 삭제하기

In [ ]:
fruits = ['포도', '사과', '배', '당근', '복숭아', '자두']

Q. 다름 리스트를 내림차순으로 정렬하기

In [ ]:
x = [48, 48, 27, 60, 18, 11, 58, 89, 89, 12, 56, 32, 28]

### 퀴즈정답-리스트

Q. 리스트의 특징은?

A.
시퀀스이다  
요소는 무엇이든 될 수 있다  
변경 가능하다

Q. 리스트 만들기  
변수 fruits에 좋아하는 과일 이름을 리스트 타입으로 담기

A.

In [ ]:
fruits = ['딸기', '바나나', '파인애플', '사과']

Q. 리스트 인덱싱  
다음 리스트에서 인덱싱을 통해 'a'라는 요소만 얻기

In [ ]:
list_a = [[1, 2], [0, 10, 20, ['a', 'b']], [100, 200, 300]]

A.

In [ ]:
list_a[1][3][0]

Q. 리스트 슬라이싱  
다음 리스트에서 인덱싱과 슬라이싱을 통해 'p', 'y', 't', 'o', 'n'이라는 요소들만 얻기

In [ ]:
list_a = [10, [10, ['a', 'p', 'y', 't', 'o', 'n'], 20], 20]

A.

In [ ]:
list_a[1][1][1:]

Q. 요소 변경하기  

다음 리스트에서 '바람 서리 불변함은 우리 기상일세.' 요소 대신에 '하느님이 보우하사 우리나라 만세.' 요소 넣기

In [ ]:
x = ['동해 물과 백두산이 마르고 닳도록',
    '바람 서리 불변함은 우리 기상일세.',
    '무궁화 삼천리 화려 강산',
    '대한 사람, 대한으로 길이 보전하세.']

A.

In [ ]:
x[1] = '하느님이 보우하사 우리나라 만세'
x

Q. 리스트 길이  
다음 리스트의 길이는?

In [ ]:
a = [48, 48, 27, 60, 18, 11, 58, 89, 89, 12, 56, 32, 28]

A.

In [ ]:
len(a)

Q. 리스트 연결 연산자   
다음 두 리스트를 합쳐서 새로운 리스트 list_c를 만들어보기  
``` list_c = ['001', '002', '006', '102', '105', '103', '102'] ```

In [ ]:
list_a = ['001', '002', '006']
list_b = ['102', '105', '103', '102']

A.

In [ ]:
list_c = list_a + list_b
list_c

Q. 다음 숫자들 중 주어진 리스트x에 포함되지 않은 숫자는?  
10, 12, 32, 60, 22

In [ ]:
x = [48, 48, 27, 60, 18, 11, 58, 89, 89, 12, 56, 32, 28]

A. 10, 22는 리스트 x에 없음

In [ ]:
print(10 in x)
print(12 in x)
print(32 in x)
print(60 in x)
print(22 in x)

Q. 다음 리스트 마지막에 좋아하는 음식 한가지를 추가해보기

In [ ]:
food = ['피자', '파스타', '샌드위치']

A.

In [ ]:
food.append('초밥')
food

Q. 다음 리스트 마지막에 동물 이름 세가지를 추가해보기

In [ ]:
animals = ['호랑이', '사자']

A.

In [ ]:
animals.extend(['양', '소', '토끼'])
animals

Q. 다음 리스트에서 호랑이와 사자 사이에 여우를 추가해보기

In [ ]:
animals = ['호랑이', '사자']

A.

In [ ]:
animals.insert(1, '여우')
animals

Q. 다음 리스트에서 '당근'을 삭제하기

In [ ]:
fruits = ['포도', '사과', '배', '당근', '복숭아', '자두']

A.

In [ ]:
#1
fruits = ['포도', '사과', '배', '당근', '복숭아', '자두']
fruits.pop(3)
fruits

In [ ]:
#2
fruits = ['포도', '사과', '배', '당근', '복숭아', '자두']
fruits.remove('당근')
fruits

In [ ]:
#3
fruits = ['포도', '사과', '배', '당근', '복숭아', '자두']
del fruits[3]
fruits

Q. 다름 리스트를 내림차순으로 정렬하기

In [ ]:
x = [48, 48, 27, 60, 18, 11, 58, 89, 89, 12, 56, 32, 28]

A.

In [ ]:
#1
x.sort(reverse=True)
x

In [ ]:
#2
x = sorted(x, reverse=True)
x

## 튜플

### 튜플 만들기

In [ ]:
empty_tuple = ()
empty_tuple

In [ ]:
empty_tuple = tuple()
empty_tuple

In [ ]:
type(empty_tuple)

In [ ]:
t1 = 'a',
t2 = ('a',)
print(t1, t2)
print(type(t1), type(t2))

In [ ]:
t1 = 'a', 'b', 'c'
t2 = ('a', 'b', 'c')
print(t1, t2)
print(type(t1), type(t2))

In [ ]:
weekdays = ('월', '화', '수', '목', '금')
weekdays

In [ ]:
type(weekdays)

In [ ]:
prime_25 = (2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 
         43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97)
type(prime_25)

### 튜플로 형변환

In [ ]:
a = tuple('문자열')
a

In [ ]:
type(a)

In [ ]:
prime_5 = tuple([2, 3, 5, 7, 11])
prime_5

In [ ]:
type(prime_5)

### 튜플 인덱싱

In [ ]:
prime_5 = (2, 3, 5, 7, 11)

In [ ]:
prime_5[0]

In [ ]:
prime_5[-2]

In [ ]:
tp = ((100, 200), 300, (400, (500, 600)))
tp[2]

In [ ]:
tp[2][1]

In [ ]:
tp[2][1][0]

### 튜플 슬라이싱

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
t[1:3]

In [ ]:
t[:3]

In [ ]:
t[3:]

In [ ]:
t[0:4:2]

### 튜플의 요소를 삭제하거나 변경하려고 할 때

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')

In [ ]:
del t[0]  # error

In [ ]:
t[0] = 'x'     # error

### 튜플 연산자

#### +

In [ ]:
t1 = ('a', 'b', 'c', 'd', 'e')
t2 = ('f', 'g')

In [ ]:
t1 + t2
t1

In [ ]:
('1', '2') + ('a', 'b')

#### *

In [ ]:
t2*3

In [ ]:
(1,)*3

#### in/ not in

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')

In [ ]:
'a' in t

In [ ]:
'b' not in t

In [ ]:
'k' in t

In [ ]:
'k' not in t

In [ ]:
('a',) in t

### 튜플 길이

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
len(t)

In [ ]:
t = ((1, 2, 3, 4), (5, 6, 7))
len(t)

In [ ]:
len(('토요일', '일요일'))

### 퀴즈-튜플

Q. 튜플의 특징은?

Q. 다음 데이터를 튜플과 리스트 중 어디에 저장하는 것이 좋은지 판단하고 이유 생각해보기  
1. 처음 20번째까지의 소수
2. 프로그래밍 언어의 종류
3. 사람의 나이, 몸무게, 키
4. 사람의 생일과 출생지

Q. 본인의 이름과 생일이 담긴 튜플 만들기

Q. 튜플의 요소를 변경할 수 있다. True/False

Q. 다음 튜플의 길이는?

In [ ]:
city = ('서울', '인천', '부산', '대구', '대전', '광주', '울산', '세종')

### 퀴즈정답-튜플

Q. 튜플의 특징은?

A.
시퀀스이다  
요소는 무엇이든 될 수 있다  
변경 불가능하다

Q. 다음 데이터를 튜플과 리스트 중 어디에 저장하는 것이 좋은지 판단하고 이유 생각해보기  
1. 처음 20번째까지의 소수
2. 프로그래밍 언어의 종류
3. 사람의 나이, 몸무게, 키
4. 사람의 생일과 출생지

A.  
1. 처음 20번째까지의 소수 : 튜플, 변하지 않는 정적데이터이므로
2. 프로그래밍 언어의 종류 : 리스트, 데이터가 증가할 수 있으므로
3. 사람의 나이, 몸무게, 키 : 리스트, 값을 갱신해야하므로
4. 사람의 생일과 출생지 : 튜플, 정적인 데이터이므로

Q. 본인의 이름과 생일이 담긴 튜플 만들기

A.

In [ ]:
('땡땡이', '2020-01-01')

Q. 튜플의 요소를 변경할 수 있다. True/False

A. False

Q. 다음 튜플의 길이는?

In [ ]:
city = ('서울', '인천', '부산', '대구', '대전', '광주', '울산', '세종')

A.

In [ ]:
len(city)

## 딕셔너리

### 딕셔너리 만들기

In [ ]:
dic = {'이름':'땡땡이', 
       '나이':40,
       '주소':('제주도', '제주시'), 
       '번호':'010-123-4567'}

In [ ]:
empty_dict = {}
empty_dict

In [ ]:
dic1 = {'사과':[1, 2], '딸기':[3, 4], '배':[5, 6]}
dic2 = {True:100, False:-100}
dic3 = {(0,0):100, (0, 1):200, (1, 0):100 ,(1, 1):0}

###항목 얻기

In [ ]:
dic = {'사과':40000, '딸기':12000, '배':50000}

In [ ]:
dic['사과']

In [ ]:
dic['딸기']

In [ ]:
dic['배']

In [ ]:
dic = {'사과':40000, '딸기':12000, '배':50000}

In [ ]:
dic.get('사과')

In [ ]:
dic.get('배')

In [ ]:
#키가 존재하지 않는 경우
print(dic.get('포도'))

In [ ]:
#키가 존재하지 않는 경우 error
dic['포도']

In [ ]:
soy_milk = {'원재료명': ['원액두유','식염'], 
            '유통기한':'2021-05-05', 
            '보관방법': '실온보관',
            '포장재질':'폴리에틸렌'}

In [ ]:
soy_milk['원재료명']

In [ ]:
soy_milk['보관방법']

### 항목 변경/추가하기

In [ ]:
soy_milk = {'원재료명': ['원액두유','식염'], 
            '유통기한':'2021-05-05', 
            '보관방법': '실온보관',
            '포장재질':'폴리에틸렌'}

In [ ]:
soy_milk['제조사']  #error

In [ ]:
soy_milk['제조사'] = '땡땡사'
soy_milk

In [ ]:
webtoon = {'유미의 세포들': '이동거', '아홉수 우리들': '수박양', '위대한 방옥숙': ('매미','희세')}

In [ ]:
# 기존에 있는 키
webtoon['유미의 세포들'] = '이동건'
print(webtoon)

In [ ]:
# 기존에 없던 키
webtoon['고래별'] = '나윤희'
print(webtoon)

In [ ]:
# 기존에 없던 키
webtoon['라일락 200%']='이나영'
print(webtoon)

### 딕셔너리 결합하기

In [ ]:
webtoon

In [ ]:
webtoon.update({'1인용 기분': '윤파랑', 
                'Ho!': '억수씨', 
                '노곤하개': '홍끼'})
webtoon

### 항목 삭제하기/ 전체 삭제하기

In [ ]:
webtoon

In [ ]:
del webtoon['위대한 방옥숙']
webtoon

In [ ]:
webtoon.clear()
webtoon

### in/ not in

In [ ]:
webtoon = {'유미의 세포들': '이동건', '아홉수 우리들': '수박양', '고래별': '나윤희'}
webtoon

In [ ]:
print('유미의 세포들' in webtoon)
print('유미의 세포들' not in webtoon)

In [ ]:
print('1인용 기분' in webtoon)
print('1인용 기분' not in webtoon)

In [ ]:
print('이동건' in webtoon)
print('이동건' not in webtoon)

### len

In [ ]:
len(webtoon)

In [ ]:
len({1: [10, 20, 30], 2:100})

### 모든 키-밸류 얻기, 모든 키 얻기, 모든 밸류 얻기

In [ ]:
webtoon = {'유미의 세포들': '이동건', '아홉수 우리들': '수박양', '고래별': '나윤희'}

In [ ]:
webtoon.items()

In [ ]:
webtoon.keys()

In [ ]:
webtoon.values()

### 퀴즈-딕셔너리

Q. 다음 표를 딕셔너리 형태의 변수 stocks로 만들기  
키는 회사명으로, 밸류는 종목코드로.

|회사명|종목코드|
|-----|-----|
|삼성전자|005930|
|SK하이닉스|000660|
|삼성바이오로직스|207940|
|NAVER|035420|
|셀트리온|068270|

Q. 'NAVER'의 종목코드는?

Q. stocks에 'LG화학' 051910을 추가해보기

Q. stocks에 다음 딕셔너리 {'카카오':'035720', '삼성SDI':
'006400'}도 추가해보기

Q. stocks에서 '카카오' 삭제하기

Q. stocks 안에 '구글'이 있는지?

Q. stocks에 있는 모든 키를 받아와서 리스트로 만들기

### 퀴즈정답-딕셔너리

Q. 다음 표를 딕셔너리 형태의 변수 stocks로 만들기  
키는 회사명으로, 밸류는 종목코드로.

|회사명|종목코드|
|-----|-----|
|삼성전자|005930|
|SK하이닉스|000660|
|삼성바이오로직스|207940|
|NAVER|035420|
|셀트리온|068270|

A.

In [ ]:
stocks ={'삼성전자':'005930',
         'SK하이닉스':'000660',
         '삼성바이오로직스':'207940',
         'NAVER':'035420',
         '셀트리온':'068270'}

Q. 'NAVER'의 종목코드는?

A.

In [ ]:
stocks['NAVER']

Q. stocks에 'LG화학' 051910을 추가해보기

A.

In [ ]:
stocks['LG화학'] ='051910'
stocks

Q. stocks에 다음 딕셔너리 {'카카오':'035720', '삼성SDI':
'006400'}도 추가해보기

A.

In [ ]:
stocks.update({'카카오':'035720', '삼성SDI':'006400'})
stocks

Q. stocks에서 '카카오' 삭제하기

A.

In [ ]:
del stocks['카카오']
stocks

Q. stocks 안에 '구글'이 있는지?

A.

In [ ]:
'구글' in stocks

Q. stocks에 있는 모든 키를 받아와서 리스트로 만들기

A.

In [ ]:
list(stocks.keys())

## 셋

### 셋 만들기

In [ ]:
empty_set = set()
empty_set

In [ ]:
type(empty_set)

In [ ]:
set1 = {1, 2, 3, 1, 1, 2}
set1

In [ ]:
type(set1)

In [ ]:
set2 = {'a', 1, 'b', 'c', 2}
set2

In [ ]:
type(set2)

### 셋으로 형변환

In [ ]:
set(['a', 'b', 'c'])

In [ ]:
set((1, 2, 3, 4))

In [ ]:
set('pppppython')

In [ ]:
set({'a':1, 'b':2})

### 교집합, 합집합, 차집합

In [ ]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

교집합

In [ ]:
s1 & s2

In [ ]:
s1.intersection(s2)

합집합

In [ ]:
s1 | s2

In [ ]:
s1.union(s2)

차집합

In [ ]:
s1 - s2

In [ ]:
s1.difference(s2)

In [ ]:
s2 - s1

In [ ]:
s2.difference(s1)

### 값 추가하기 한개/여러개

In [ ]:
s = {'001', '002'}

In [ ]:
s.add('003')
s

In [ ]:
s.update(['004', '005', '006'])
s

### 값 제거하기

In [ ]:
s.remove('006')

In [ ]:
s.remove('007')   #error

### len

In [ ]:
len(s)

In [ ]:
len({1, 2, 3, 4, 5})

### in/ not in

In [ ]:
print(1 in {1, 2, 3})
print(1 not in {1, 2, 3})

In [ ]:
print(10 in {1, 2, 3})
print(10 not in {1, 2, 3})

### 퀴즈-셋

Q. 셋의 요소는 중복 가능하다. 맞으면 True, 틀리면 False

Q. A, B 공장이 만들 수 있는 제품은 다음과 같다. 두 공장에서 모두 생산할 수 있는 제품은?

In [ ]:
A = {'만두', '완자', '돈가스', '피자', '닭강정'}
B = {'피자', '파스타소스', '핫도그'}

Q. A공장에서는 못만들지만 B공장에서는 만들 수 있는 제품은?

Q. A, B 공장에서 생산할 수 있는 제품의 모든 종류를 나열하기

Q. A공장에 새로운 라인이 만들어져서 '치킨너겟'을 만들 수 있게 됨.  
집합 A에 '치킨너겟'을 추가하기.

Q. B공장에 새로운 라인이 만들어져서 '순대', '케밥', '볶음밥'이 추가되었음.  
집합 B에 추가할 것.

Q. B공장에 만들었던 '순대'라인이 빠지게 되었음. 집합 B에서 제거할 것.

### 퀴즈정답-셋

Q. 셋의 요소는 중복 가능하다. 맞으면 True, 틀리면 False

A. False

Q. A, B 공장이 만들 수 있는 제품은 다음과 같다. 두 공장에서 모두 생산할 수 있는 제품은?

In [ ]:
A = {'만두', '완자', '돈가스', '피자', '닭강정'}
B = {'피자', '파스타소스', '핫도그'}

A.

In [ ]:
print(A&B)
print(A.intersection(B))

Q. A공장에서는 못만들지만 B공장에서는 만들 수 있는 제품은?

A.

In [ ]:
print(B-A)
print(B.difference(A))

Q. A, B 공장에서 생산할 수 있는 모든 제품의 종류를 나열하기

A.

In [ ]:
print(A|B)
print(A.union(B))

Q. A공장에 새로운 라인이 만들어져서 '치킨너겟'을 만들 수 있게 됨.  
집합 A에 '치킨너겟'을 추가하기.

A.

In [ ]:
A.add('치킨너겟')
A

Q. B공장에 새로운 라인이 만들어져서 '순대', '케밥', '볶음밥'이 추가되었음.  
집합 B에 추가할 것.

A.

In [ ]:
B.update({ '순대', '케밥', '볶음밥'})
B

Q. B공장에 만들었던 '순대'라인이 빠지게 되었음. 집합 B에서 제거할 것.

A.

In [ ]:
B.remove('순대')
B