In [ ]:
import pandas as pd
import numpy as np

# Data structure

## Series

### series 생성

In [ ]:
obj1 = pd.Series([0, 10, 20, 30, 40, 50, 60]) 
obj1

In [ ]:
# dtype
obj1 = pd.Series([0, 10, 20, 30, 40, 50, 60], dtype = np.float32)
obj1

In [ ]:
# index
obj2 = pd.Series(['a', 'b', 'c'], index = ['i1','i2','i3'])
obj2

In [ ]:
# dictionary
dic = {'서울특별시'	: '02',  '경기도'	: '031', '인천광역시'	: '032', '강원도'	: '033',
      '충청남도'	: '041', '대전광역시'	: '042', '충청북도'	: '043', '세종특별자치시'	: '044',
      '부산광역시'	: '051', '울산광역시'	: '052', '대구광역시'	: '053',  '경상북도'	: '054 ',
      '경상남도'	: '055', '전라남도'	: '061', '광주광역시'	: '062', '전라북도'	: '063',
      '제주특별자치도' : '064'}

In [ ]:
obj3 = pd.Series(dic)
obj3

In [ ]:
# numpy 
obj4 = pd.Series(np.arange(4), name='kk')
obj4

### index, values, dtype

In [ ]:
obj1

In [ ]:
obj1.index

In [ ]:
obj1.values

In [ ]:
obj1.dtype

In [ ]:
obj2

In [ ]:
obj2.index

In [ ]:
obj2.values

In [ ]:
obj3

In [ ]:
obj3.index

In [ ]:
obj3.values

In [ ]:
obj3.dtype

In [ ]:
obj4

In [ ]:
obj4.index

In [ ]:
obj4.values

In [ ]:
obj4.dtype

## Data *Frame*

### Data Frame *생성*

In [ ]:
#dictionary
data = {'제목': ['극한직업', '어벤져스: 엔드게임', '알라딘', '기생충', '엑시트', '스파이더맨: 파 프롬 홈', '겨울왕국 2', '캡틴 마블', '조커', '봉오동 전투'],
        '감독': ['이병헌', '안소니 루소,조 루소', '가이 리치', '봉준호', '이상근', '존 왓츠', '크리스 벅,제니퍼 리', '애너 보든,라이언 플렉', '토드 필립스', '원신연,이영용'],
        '관객수': [16264944, 13934592, 12551956, 10084564, 9424431, 8020208, 7603956, 5801069, 5245841, 4777456]}
frame1 = pd.DataFrame(data)
frame1

In [ ]:
frame1.head(3)

In [ ]:
# numpy
frame2 = pd.DataFrame(np.arange(30).reshape(6,-1))
frame2

### index, columns, values

In [ ]:
frame1.index

In [ ]:
frame1.columns

In [ ]:
frame1.values

In [ ]:
frame2.index

In [ ]:
frame2.columns

In [ ]:
frame2.values

# 데이터 로딩, 저장

|pandas file 파싱 함수|설명|
|---|---|
|read_csv|파일, url, 파일과 유사한 객체로부터 구분된 데이터 읽어옴. 데이터 구분자는 쉼표(,)가 기본|
|read_excel|엑셀(xls, xlsx)에서 표 형식의 데이터를 읽어옴.|
|read_json|JSON 문자열에서 데이터를 읽어옴.|
|read_pickle|파이썬 피클 포맷으로 저장된 객체를 읽어옴..|

## csv

In [ ]:
# 데이터 읽기 
stock = pd.read_csv('stock_2020_01.csv', 
                    encoding = "euc-kr")

In [ ]:
stock

In [ ]:
# 데이터 쓰기 
stock.to_csv('stock_2020_01_tmp.csv')

## json

In [ ]:
movie_2019 = pd.read_json('movie_2019.json')

In [ ]:
movie_2019

In [ ]:
movie_2019.to_json('movie_2019_tmp.json')

# 핵심 기능

## indexing/slicing

### **Series indexing/slicing**
* integer-location based: numpy indexing와 유사하게 동작함. 
* label-location based: 라벨로도 색인 가능!!

In [ ]:
obj = pd.Series(np.arange(8), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
obj

#### **integer-location based**

In [ ]:
obj[3]

In [ ]:
obj[-1]

In [ ]:
obj[[1,3,5]]

In [ ]:
obj[1:3]

In [ ]:
# boolean 
obj[obj<3]

#### **label-location based**

In [ ]:
obj['c']

In [ ]:
obj.c

In [ ]:
obj[['e','c']]

**주의**: 라벨로 슬라이싱하면 시작점과 끝점을 포함!!!

In [ ]:
obj['a':'c']

In [ ]:
obj['d':'e']=100

In [ ]:
obj

#### iloc, loc 
* Series.iloc: integer-location based
* Series.loc: label-location based

In [ ]:
obj = pd.Series(np.arange(8), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
obj

In [ ]:
obj.iloc[2]

In [ ]:
obj.iloc[[2]]

In [ ]:
obj.iloc[1:4]

In [ ]:
obj.loc['a']

In [ ]:
obj.loc[['a']]

In [ ]:
obj.loc[['a', 'c']]

In [ ]:
obj.loc['a':'c']    #라벨은 시작점과 끝점을 포함

In [ ]:
obj3 = pd.Series(np.arange(0, 50, 10))
obj3

In [ ]:
obj3[:2]

In [ ]:
obj3.loc[:2]  #라벨은 시작점과 끝점을 포함

In [ ]:
obj3.iloc[:2]

### ◉ 연습 - Series indexing/slicing
다음 코드를 이해해보자.

In [ ]:
series = pd.Series(np.arange(5), index=list('abcde'))
print(series['a'])
print(series[0])
# 
print(series['a':'c'])
print(series[0:3])
# loc
print('--------loc--------')
print(series.loc['a'])
print(series.loc[['a']]) 
print(series.loc[['a','b','c']])
print(series.loc['a':'c'])
# iloc
print('--------iloc-------')
print(series.iloc[0])
print(series.iloc[[0]])
print(series.iloc[[0, 1, 2]])
print(series.iloc[0:3])

### **DataFrame indexing/slicing**

* DataFrame[컬럼명]
* DataFrame.컬럼명

In [ ]:
frame = pd.DataFrame(np.arange(24).reshape(4,-1), 
                         columns = ['c1', 'c2', 'c3', 'c4', 'c5', 'c6'],
                         index = ['r1', 'r2', 'r3', 'r4'])
frame

In [ ]:
frame['c3']

In [ ]:
frame.c3

In [ ]:
frame[['c1', 'c2']]


**DataFrame[인덱스:인덱스]**  
slicing할 때는 rows!!

In [ ]:
frame['r1':'r2']

In [ ]:
frame['c1':'c2']

#### iloc, loc 
* DataFrame.iloc: integer-location based
* DataFrame.loc: label-location based

In [ ]:
frame.loc[['r1','r2'],['c2','c3','c4']]

In [ ]:
frame.iloc[[0,1], 1:4]

In [ ]:
stock.loc[::2, 'kospi']

In [ ]:
stock.iloc[::2, 1]

### ◉ 연습 - DataFrame indexing/slicing
다음 코드를 이해해보자.

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,-1), 
                         columns = ['c1', 'c2', 'c3', 'c4'],
                         index = ['r1', 'r2', 'r3', 'r4'])
print(frame['c1'])
print(frame['c1']['r1']) 
print(frame[['c1']])
#print(frame[['c1']]['r1'])  #-> error!!
print(frame[['c1']]['c1'])
print(frame[['c1', 'c3']])
#print(frame[['c1', 'c3']]['r1'])  #-> error!!
print(frame[['c1', 'c3']]['c1'])

#
print('---------------------------')
print(frame['r1':'r2'])
print(frame['c1':'c2'])
#loc
print(frame.loc['r1', 'c1'])
print(frame.loc[['r1'], 'c1'])
print(frame.loc[:, 'c1':'c2'])
print(frame.loc['r1', :])
#iloc 
print(frame.iloc[0, 0])
print(frame.iloc[[0], 0])
print(frame.iloc[:, :1])

## 산술연산

### Series
* index를 기준으로 연산 
* 짝이 맞지 않는 인덱스가 있는 경우 outer join과 유사하게 동작
* 짝이 맞지 않는 인덱스가 있는 경우, 없는 값을 기본값을 지정해주고 싶은 경우 메서드의 옵션 fill_value사용

In [ ]:
s1 = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])

In [ ]:
s2 = pd.Series([10, 20, 30, 40], index = ['a', 'b', 'c', 'd'])

In [ ]:
s1+s2

In [ ]:
s1 = pd.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])

In [ ]:
s3 = pd.Series([2, 2, 2, 2], index = ['b', 'c', 'd', 'e'])

In [ ]:
# a, e
s1+s3

In [ ]:
s1.add(s3, fill_value=0)

In [ ]:
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([40, 30, 20, 10])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1+s2

### DataFrame
* index, column을 기준으로 연산 
* 짝이 맞지 않는 인덱스가 있는 경우 outer join과 유사하게 동작
* 짝이 맞지 않는 인덱스가 있는 경우, 없는 값을 기본값을 지정해주고 싶은 경우 메서드의 옵션 fill_value사용

|메서드|설명|
|---|---|
|add, radd|덧셈(+)을 위한 메서드|
|sub, rsub|뺄셈(-)을 위한 메서드|
|mul, rmul|곱셈(*)을 위한 메서드|
|div, rdiv|나눗셈(/)을 위한 메서드 |
|pow, rpow|멱승(**)을 위한 메서드 |
|floordiv, rfloordiv|소수점 내림(//)을 위한 메서드 |

In [ ]:
d1 = pd.DataFrame(np.ones((3,2))*100, 
                  index=['id001', 'id002', 'id003'], columns =['c1', 'c2'])
d1

In [ ]:
d2 = pd.DataFrame(np.arange(6).reshape(3, 2)*200,
                  index=['id002', 'id003', 'id004'], columns =['c2', 'c3'])
d2

In [ ]:
d1 + d2

In [ ]:
# (id001, c3), (id004, c1)
d1.add(d2, fill_value=0)

### 기타

In [ ]:
d3 = pd.DataFrame(np.arange(0,60,10).reshape(2,3), columns = list('abc'))
d3

In [ ]:
# dataframe + scalar
d3.div(10)

In [ ]:
d3.rdiv(10)

DataFrame과 Series 간의 연산  
Series의 색인을 DataFrame의 컬럼에 맞추고 아래 로우로 전파함.

In [ ]:
frame = pd.DataFrame(np.ones((3,3)), dtype=int, columns = list('abc'))
frame

In [ ]:
series = pd.Series([100, 200, 300], index = list('abc'))
series

In [ ]:
frame + series

row에 대해 연산을 수행하고 싶다면 산술 연산 메서드를 사용  
- axis = 'index'  
- axis = 0

In [ ]:
frame

In [ ]:
series3 =pd.Series([100, 200, 300])
series3

In [ ]:
frame.add(series3, axis=0)

## 기술 통계 계산과 요약

### 요약 통계

|메서드|설명|
|---|---|
|describe|series나 dataframe의 각 컬럼에 대한 요약 통계|
|count| na 값을 제외한 값의 개수를 반환|
|min, max| 최소값, 최대값|
|argmin, argmax|최소값, 최대값을 가진 색인의 위치(정수)를 반환|
|idxmin, idxmax|최소값, 최대값을 가진 색인의 값을 반환|
|sum|합|
|mean, median|평균, 중앙값|
|var, std|분산, 표준편차|

* pandas 객체의 기술 통계는 누락된 데이터를 배제하고 처리함.

In [ ]:
frame = pd.DataFrame([[10, 4, 'a'], [10, 2.5, 'b'], [np.nan, 10, 'a']], 
                     index=['i1', 'i2', 'i3'],
                      columns=['c1', 'c2', 'c3'])
frame

In [ ]:
frame.describe()

In [ ]:
frame.describe(include='object')

In [ ]:
frame.max()

In [ ]:
frame.min(axis=1)

In [ ]:
frame.sum()

### cov, corr

In [ ]:
stock.head(3)

In [ ]:
stock.cov()

In [ ]:
stock.corr()

In [ ]:
stock['kospi'].corr(stock['Bond_273130'])

### unique, value_counts

|메서드|설명|
|---|---|
|unique|series에서 중복되는 값을 제외하고 유일값만 포함하는 배열을 반환.|
|value_conuts|series에서 유일값에 대한 색인과 도수를 계산|

In [ ]:
obj = pd.Series([2, 1, 3, 3, 1, 5, np.nan, 1, 2])
obj

In [ ]:
obj.unique()

In [ ]:
obj.value_counts()

In [ ]:
# normalize
obj.value_counts(normalize=True)

In [ ]:
obj = pd.Series(list('abcabcaaa')+[None])
obj

In [ ]:
obj.unique()

In [ ]:
obj.value_counts()

In [ ]:
data = pd.DataFrame({'c1': ['a', 'a', 'b', 'a'], 'c2':['b', None, 'b','b'], 'c3':['a', 'b', 'a', 1]})
data

In [ ]:
data.apply(pd.value_counts)  # unique(), value_counts() 는 series에만 적용 가능(dataframe 말고)

## 함수 적용과 매핑 apply, applymap, map


### Series
* **Series.map**: element 별로 함수 적용. 
*  **Series.apply**: element 별로 함수 적용. map 보다 더 복잡한 함수 사용 가능.

In [ ]:
series = pd.Series(np.arange(1, 4, 1)*100)
series

In [ ]:
series.map('${}'.format)

In [ ]:
series.map('{}달러'.format)

In [ ]:
# lambda
f = lambda x: np.add(x, 3)
series.map(f)

In [ ]:
series.map({100:'C', 200:'B', 300:'A'})

In [ ]:
s = pd.Series([20, 21, 12], index=['London', 'New York', 'Helsinki'])
s

In [ ]:
def add_custom_values(x, **kwargs):
    for month in kwargs:
        x += kwargs[month]
    return x

In [ ]:
s.apply(add_custom_values, june=30) #, july=20, august=25

In [ ]:
s = pd.Series(['a001', 'b004', 'a002', 'c002', 'b003'])

### DataFrame 
* **DataFrame.applymap**: element 별로 함수 적용.
* **DataFrame.apply**: 축 별로 함수 적용.

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(3, 4), dtype=int, columns = list('abcd'))
frame

In [ ]:
f = lambda x: x.max()-x.min()
frame.apply(f)

In [ ]:
frame.apply(f, axis=1)

In [ ]:
f = lambda x: x**2
frame.applymap(f)

## 정렬

### Series 정렬

* Series.sort_index : index를 기준으로 정렬
* Series.sort_values: values를 기준으로 정렬

In [ ]:
obj = pd.Series([1,2,3,-1,-2], index=list('adebc'))

In [ ]:
obj

In [ ]:
obj.sort_index()

내림차순 ascending=False

In [ ]:
obj.sort_index(ascending=False)

In [ ]:
obj.sort_values()

* 정렬할 때 비어 있는 값은 기본적으로 가장 마지막에 위치  
na_position = {‘first’, ‘last’} 옵션으로 조절

In [ ]:
obj = pd.Series([10, np.nan, 20, 0, np.nan])

In [ ]:
obj.sort_values()

In [ ]:
obj.sort_values(ascending=False)

In [ ]:
obj.sort_values(na_position='first')

### DataFrame 정렬

* DataFrame.sort_index: index를 기준으로 정렬
* DataFrame.sort_values: values를 기준으로 정렬

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape(3,3), index = list('acb'), columns = list('edf'))
frame

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame = pd.DataFrame({'a': [5, 4, 10, 10, 8], 'b': [2, 0, 3, 1, 4] })
frame

In [ ]:
frame.sort_values(by='a', ascending = False)

In [ ]:
frame.sort_values(by=['a', 'b'], ascending = [False, True])

# 데이터 정제, 준비

## 데이터 삭제 drop
row, column 삭제하기

.drop()

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,4), 
                         columns = ['c1', 'c2', 'c3', 'c4'],
                         index = ['r1', 'r2', 'r3','r4'])
frame

In [ ]:
frame.drop('r1')

In [ ]:
frame.drop('c2', axis = 1)

In [ ]:
frame.drop(columns=['c3', 'c4'])

In [ ]:
# inplace
frame.drop(['r2'], inplace=True)
frame

In [ ]:
# 할당 
frame = frame.drop(['r3'])
frame

## 데이터 병합 concat, merge

### concat

In [ ]:
s1 = pd.Series([100, 200], index=['c', 'b'])
s2 = pd.Series([300, 300, 300], index=['c', 'd', 'e'])
s3 = pd.Series([500, 600], index=['f', 'g'])

In [ ]:
pd.concat([s1, s2, s3])

In [ ]:
pd.concat([s1, s2], axis=1)

In [ ]:
data1 = pd.DataFrame({'id': ['01', '02', '03', '04', '05', '06'], 'col1': np.random.randint(0, 50, 6), 'col2':np.random.randint(1000, 2000, 6)})
data2 = pd.DataFrame({'id': ['04', '05', '06', '07'], 'col1': np.random.randint(1000, 5000, 4)})

In [ ]:
pd.concat([data1, data2])

In [ ]:
pd.concat([data1, data2], axis=1)

### merge

keys를 이용해 데이터의 row를 연결시켜 합침.
(sql의 join과 유사)

* 인자
    - how: {‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘inner’

In [ ]:
data1 = pd.DataFrame({'id': ['01', '02', '03', '04', '05', '06'], 'col1': np.random.randint(0, 50, 6), 'col2':np.random.randint(1000, 2000, 6)})
data1

In [ ]:
data2 = pd.DataFrame({'id': ['04', '05', '06', '07'], 'col1': np.random.randint(1000, 5000, 4)})
data2

In [ ]:
#inner join
pd.merge(data1, data2, on='id')

In [ ]:
#left join
pd.merge(data1, data2, on='id', how='left')

In [ ]:
# outer join
pd.merge(data1, data2, on='id', how='outer')

In [ ]:
# key 다를 경우
data1 = pd.DataFrame({'lkey': ['a', 'b', 'c', 'd'], 'value': [1, 2, 3, 5]})
data2 = pd.DataFrame({'rkey': ['d', 'e', 'a', 'c'], 'value': [5, 6, 7, 8]})

pd.merge(data1, data2, left_on='lkey', right_on='rkey')

## missing data 처리

|인자|설명|
|---|---|
|isnull|누락되거나 NA(not available) 값을 알려주는 불리언 값들이 저장된 객체를 반환|
|notnull|isnull과 반대되는 메서드|
|fillna|누락된 데이터에 값을 채우는 메서드. (특정한 값이나 ffill, bfill 같은 보간 메서드 적용)|
|dropna|누락된 데이터가 있는 축(로우, 컬럼)을 제외시키는 메서드|

In [ ]:
obj = pd.Series(['apple', 'mango', np.nan, None, 'peach'])

In [ ]:
obj.isnull()

In [ ]:
obj.notnull()

In [ ]:
obj.dropna()

In [ ]:
obj.fillna('-')

In [ ]:
frame = pd.DataFrame([[np.nan, np.nan, np.nan, np.nan], [10, 5, 40, 6],
                      [5, 2, 30, 8], [20, np.nan, 20, 6], [15, 3, 10, np.nan]],
                     columns=['x1', 'x2', 'x3', 'y'])
frame

In [ ]:
frame.dropna()

In [ ]:
# how
frame.dropna(how='all')

In [ ]:
frame.dropna(subset=['y'])

In [ ]:
frame['e'] = np.nan
frame

In [ ]:
# axis 
frame.dropna(axis=1, how='all')

In [ ]:
frame.fillna(0)

In [ ]:
frame.fillna({'x1': 10, 'y':0})

In [ ]:
frame

In [ ]:
# (4, y)
frame.fillna(method='bfill')

In [ ]:
# row1
frame.fillna(method='ffill')

In [ ]:
frame

## 데이터 변형

### 중복제거

    - .duplicated() : 각 로우가 중복인지(True) 아닌지(False) 알려주는 불리언 series 반환 
    - .drop_duplicates(): duplicated 배열이 False인 dataframe 반환

In [ ]:
data = pd.DataFrame({'id':['0001', '0002', '0003', '0001'], 'name': ['a', 'b', 'c', 'a']})
data

In [ ]:
data.duplicated()

In [ ]:
data.drop_duplicates()

In [ ]:
data['phone'] = range(4)
data

In [ ]:
data.drop_duplicates(subset=['id'], keep='last')

### 값 치환하기

.replace

In [ ]:
obj = pd.Series([10, -999, 4, 5, 7, 'n'])

In [ ]:
obj.replace(-999, np.nan)

In [ ]:
obj.replace([-999, 'n'], np.nan)

### binning

In [ ]:
ages = [20, 35, 67, 39, 59, 44, 56, 77, 28, 20, 22, 80, 32, 46, 52, 19, 33, 5, 15, 50, 29, 21, 33, 48, 85, 80, 31, 10]

In [ ]:
bins = [0, 20, 40, 60, 100]

In [ ]:
cuts = pd.cut(ages, bins)
cuts

In [ ]:
cuts.categories

In [ ]:
cuts.codes

In [ ]:
cuts.value_counts()

In [ ]:
group_names = ['10대 이하','20-30대','40-50대','60대 이상']
pd.cut(ages, bins, labels=group_names)

In [ ]:
# 구간을 균등한 길이로 나눔
pd.cut(ages, 4, precision=1).value_counts()

In [ ]:
# 개수들이 균등한 비율이 되도록 나눔
pd.qcut(ages, 4).value_counts()

### get_dummies
명목형 변수의 경우 one-hot encoding을 해주는 경우가 있음.

In [ ]:
df = pd.DataFrame({'col1': [10, 20, 30],
                   'col2': ['a', 'b', 'a']})
df

In [ ]:
pd.get_dummies(df)

In [ ]:
df = pd.DataFrame({'col1': ['001', '002', '003', '004', '005', '006'], 
                   'col2': [10, 20, 30, 40, 50, 60],
                   'col3': ['서울시', '경기도', '서울시', '제주도', '경기도', '서울시']})
df

In [ ]:
pd.get_dummies(df)

In [ ]:
pd.get_dummies(df, columns=['col3'])

In [ ]:
pd.get_dummies(df, columns=['col3'], prefix=['state'])

In [ ]:
movie_2019.head(2)

## groupby

### groupby

In [ ]:
kbo = pd.read_csv('kbo.csv')
kbo.head()

In [ ]:
kbo['연도'].unique()

In [ ]:
kbo['팀'].unique()

In [ ]:
kbo.groupby('팀').count()

In [ ]:
kbo.groupby('팀').mean()

In [ ]:
kbo.groupby('팀')['승률'].max()

In [ ]:
kbo.groupby(['연도','팀'])['승률'].sum()

### .groupby.get_group
    - 특정한 key값을 가진 그룹의 정보만 추출

In [ ]:
grouped= kbo.groupby('팀')
type(grouped)

In [ ]:
for n, g in grouped:
    print(n)
    print(g)
    
    print('-'*50)

In [ ]:
grouped.get_group('한화')

### groupby.agg
- 그룹별로 특정한 집계 함수 적용

In [ ]:
grouped.agg([np.mean, np.std])

In [ ]:
grouped.agg({'순위':np.mean, '승률':[np.mean, np.std]})

### groupby.filter

In [ ]:
kbo.groupby('팀').filter(lambda x: len(x)==2)

In [ ]:
kbo.groupby('팀').filter(lambda x: x['순위'].min()==1)

In [ ]:
kbo.groupby('팀').filter(lambda x: x['순위'].min()==1)