# 목차
###1.[ndarray 특징](#ndarray특징)  
###2.[ndarray_attributes](#ndarray_attributes)  
[퀴즈-ndarray_attributes](#퀴즈-ndarray_attributes)  
[퀴즈정답-ndarray_attributes](#퀴즈정답-ndarray_attributes)  
###3.[ndarray생성](#ndarray생성)  
[퀴즈-ndarray생성](#퀴즈-ndarray생성)  
[퀴즈정답-ndarray생성](#퀴즈정답-ndarray생성)  
###4.[handling_shape](#handling_shape)  
[퀴즈-handling_shape](#퀴즈-handling_shape)  
[퀴즈정답-handling_shape](#퀴즈정답-handling_shape)  
###5.[indexing, slicing, boolean_indexing, fancy_indexing](#indexing,slicing,boolean_indexing,fancy_indexing)  
[퀴즈-indexing,slicing,boolean_indexing,fancy_indexing](#퀴즈-indexing,slicing,boolean_indexing,fancy_indexing)  
[퀴즈정답-indexing,slicing,boolean_indexing,fancy_indexing](#퀴즈정답-indexing,slicing,boolean_indexing,fancy_indexing)  
###6.[산술연산](#산술연산)  
[퀴즈-산술연산](#퀴즈-산술연산)  
[퀴즈정답-산술연산](#퀴즈정답-산술연산)  
###7.[유니버셜함수](#유니버셜함수)  
[퀴즈-유니버셜함수](#퀴즈-유니버셜함수)  
[퀴즈정답-유니버셜함수](#퀴즈정답-유니버셜함수)  
###8.[기본_통계](#기본_통계)  
[퀴즈-기본_통계](#퀴즈-기본_통계)  
[퀴즈정답-기본_통계](#퀴즈정답-기본_통계)  
###9.[any_all](#any_all)  
[퀴즈-any_all](#퀴즈-any_all)  
[퀴즈정답-any_all](#퀴즈정답-any_all)  
###10.[where](#where)  
[퀴즈-where](#퀴즈-where)  
[퀴즈정답-where](#퀴즈정답-where)  
###11.[sort](#sort)  
[퀴즈-sort](#퀴즈-sort)  
[퀴즈정답-sort](#퀴즈정답-sort)  
###12.[선형대수](#)  
[퀴즈-선형대수](#퀴즈-선형대수)  
[퀴즈정답-선형대수](#퀴즈정답-선형대수)

# Numpy

In [ ]:
import numpy as np

## ndarray특징

**ndarray**
* N차원의 배열 객체. 대규모 데이터 집합을 담을 수 있는 자료구조.  
* 같은 종류의 데이터를 담을 수 있는 포괄적인 다차원 배열.

#### numpy array와 python list 시간 비교

In [ ]:
n = 100000
numpy_arr = np.arange(n)
python_list = list(range(n))

In [ ]:
%%time 
python_list = [x**3 for x in python_list]

In [ ]:
%%time 
numpy_arr = numpy_arr**3

## ndarray_attributes

### dtype, itemsize

**dtype**
* 배열에 담긴 원소의 자료형
* dtype으로 데이터 타입을 명시하지 않은 경우 자료형을 추론하여 저장.
* int8, float16, complex32, bool, object, string_, unicode_ 등 다양한 데이터 타입이 있음. [데이터 타입 더보기](https://numpy.org/devdocs/reference/generated/numpy.ndarray.html?highlight=ndarray#numpy.ndarray)  
* dtype이 있어 C나 포트란 같은 저수준 언어로 작성된 코드와 쉽게 연동이 가능. 
  

**itemsize**
배열에 담긴 각 원소의 크기(byte)

In [ ]:
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
arr

In [ ]:
arr.dtype

In [ ]:
arr.itemsize #byte

In [ ]:
arr = np.array([[0.5, -2], [0.8, 1.2]])
arr

In [ ]:
arr.dtype

In [ ]:
arr.itemsize

### size, ndim, shape

* **size**: Number of elements in the array.  
* **shape**: Tuple of array dimensions.
* **ndim**: Number of array dimensions.

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8])
arr

In [ ]:
arr.size

In [ ]:
arr.shape

In [ ]:
arr.ndim

In [ ]:
arr = np.array([[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12]])
arr

In [ ]:
arr.size

In [ ]:
arr.shape

In [ ]:
arr.ndim

In [ ]:
arr = np.array([[[10.        , 10.52631579, 11.05263158, 11.57894737, 12.10526316],
                 [12.63157895, 13.15789474, 13.68421053, 14.21052632, 14.73684211]],
                [[15.26315789, 15.78947368, 16.31578947, 16.84210526, 17.36842105],
                 [17.89473684, 18.42105263, 18.94736842, 19.47368421, 20.        ]]])
arr

In [ ]:
arr.size

In [ ]:
arr.shape

In [ ]:
arr.ndim

In [ ]:
arr = np.array(([[[[ 0,  1,  2,  3,  4],
                   [ 5,  6,  7,  8,  9],
                   [10, 11, 12, 13, 14]],
                  [[15, 16, 17, 18, 19],
                   [20, 21, 22, 23, 24],
                   [25, 26, 27, 28, 29]]],
                 [[[30, 31, 32, 33, 34],
                   [35, 36, 37, 38, 39],
                   [40, 41, 42, 43, 44]],
                 [[45, 46, 47, 48, 49],
                  [50, 51, 52, 53, 54],
                  [55, 56, 57, 58, 59]]]]))

In [ ]:
arr.size

In [ ]:
arr.shape

In [ ]:
arr.ndim

### 퀴즈-ndarray_attributes

Q.
다음 arr의 원소의 데이터 타입, 차원, shape, 원소의 총 개수를 확인해보기

In [ ]:
arr = np.array([[[-5. , -4.5, -4. , -3.5, -3. ],
                [-2.5, -2. , -1.5, -1. , -0.5]],
               [[ 0. ,  0.5,  1. ,  1.5,  2. ],
                [ 2.5,  3. ,  3.5,  4. ,  4.5]]])

In [ ]:
print('원소의 데이터 타입:')
print('차원:')
print('shape:')
print('원소의 총 개수:')

### 퀴즈정답-ndarray_attributes

Q.
다음 arr의 원소의 데이터 타입, 차원, shape, 원소의 총 개수를 확인해보기

In [ ]:
arr = np.array([[[-5. , -4.5, -4. , -3.5, -3. ],
                [-2.5, -2. , -1.5, -1. , -0.5]],
               [[ 0. ,  0.5,  1. ,  1.5,  2. ],
                [ 2.5,  3. ,  3.5,  4. ,  4.5]]])

A.

In [ ]:
print('원소의 데이터 타입:', arr.dtype)
print('차원:', arr.ndim)
print('shape:', arr.shape)
print('원소의 총 개수:', arr.size)

## ndarray생성

### array 함수
데이터(리스트나 튜플 등 )를 ndarray로

In [ ]:
arr = np.array([10, 20, 30])
arr

In [ ]:
arr = np.array([10, 20, 30], dtype=np.float16)
arr

In [ ]:
arr = np.array(((1, 0), (0, 1)), dtype=np.float32)
arr

In [ ]:
arr = np.array(range(20))
arr

In [ ]:
arr = np.array([(10, 20), (40, 50)])
arr

In [ ]:
arr = np.array(((1, 2), (3)))
arr

In [ ]:
arr.size

### 배열 생성 함수

zeros

In [ ]:
np.zeros((10))

In [ ]:
np.zeros((2, 10), dtype=np.int8)

#### ones

In [ ]:
np.ones((5,5))

#### full

In [ ]:
np.full((10), 5)

In [ ]:
np.full((2, 5), -1.0)

In [ ]:
np.full((2, 3, 4), np.inf)

#### identity

In [ ]:
np.identity(5, dtype=int)

#### eye

In [ ]:
np.eye(5, dtype=int)

In [ ]:
np.eye(5, 10, dtype=int, k=5)

#### _like

zeros_like  
ones_like  
full_like

In [ ]:
arr1 = np.array([[1, 2, 3, 1], [2, 4, 5, 6]])
arr1

In [ ]:
arr2 = np.ones_like(arr1)
arr2

#### arange
내장 range와 유사. ndarray 반환

In [ ]:
np.arange(10)

In [ ]:
np.arange(-10, 10)

In [ ]:
np.arange(3,50,2)

In [ ]:
np.arange(0, 1, 0.1)

#### linspace

arange 와 유사하지만 step size 대신 샘플 개수를 입력받아 만듦

In [ ]:
np.linspace(0, 1, 10)

### 난수 생성

numpy.random 모듈은 파이썬 내장 random 함수를 보강하여 다양한 종류의 확률 분포로부터 샘플링함.

In [ ]:
import matplotlib.pyplot as plt

#### np.random.seed - seed 고정

In [ ]:
np.random.seed(1)
np.random.rand(2)

#### np.random.rand
[0.0, 1.0) 구간에서 uniform 분포를 따르면서  주어진 shape대로 샘플링함

In [ ]:
np.random.seed(1)
np.random.rand(2, 10)

In [ ]:
data = np.random.rand(10000)
plt.hist(data, bins=100)
plt.show()

#### np.random.randn

표준정규분포(평균0, 분산1)에서 샘플링

In [ ]:
np.random.randn(2, 3, 2)

In [ ]:
data = np.random.randn(10000)
plt.hist(data, bins=100)
plt.show()

In [ ]:
data = 5*np.random.randn(10000)+10   # numpy.random.normal(loc=0.0, scale=1.0, size=None)
plt.hist(data, bins=100)
plt.show()

#### np.random.randint

주어진 범위 내에서 임의의 난수 생성

In [ ]:
data = np.random.randint(100, 200, 10000)
plt.hist(data, bins=100)
plt.show()

#### 기타
* np.random.binomial
* np.random.beta
* np.random.gamma
* np.random.chisqure
* np.random.dirichlet  
------
* np.random.shuffle: 주어진 데이터를 랜덤하게 섞어줌

### 퀴즈-ndarray생성

Q.다음 주어진 파이썬 리스트를 numpy의 ndarray로 바꿔보기

In [ ]:
python_list = [[[-5. , -4.5, -4. , -3.5, -3. ],
                [-2.5, -2. , -1.5, -1. , -0.5]],
               [[ 0. ,  0.5,  1. ,  1.5,  2. ],
                [ 2.5,  3. ,  3.5,  4. ,  4.5]]]

In [ ]:
numpy_list =

Q. 원소를 모두 1로 갖는 4x4 ndarray를 만들어보기

In [ ]:
arr =

Q. 0부터 19까지 정수 값을 갖는 1차원 배열 만들어보기, 단 데이터 타입은 float으로 설정. 

``` array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15., 16., 17., 18., 19.])```

In [ ]:
arr =

Q. 
1. random seed를 0으로 설정  
2. 3x3 크기의 ndarray 생성. 원소는 표준 정규 분포에서 랜덤으로 샘플링.

In [ ]:
arr =

### 퀴즈정답-ndarray생성

Q.다음 주어진 파이썬 리스트를 numpy의 ndarray로 바꿔보기

In [ ]:
python_list = [[[-5. , -4.5, -4. , -3.5, -3. ],
                [-2.5, -2. , -1.5, -1. , -0.5]],
               [[ 0. ,  0.5,  1. ,  1.5,  2. ],
                [ 2.5,  3. ,  3.5,  4. ,  4.5]]]

A.

In [ ]:
numpy_list = np.array(python_list)
numpy_list

Q. 원소를 모두 1로 갖는 4x4 ndarray를 만들어보기

A.

In [ ]:
arr = np.ones((4, 4))
arr

Q. 0부터 19까지 정수 값을 갖는 1차원 배열 만들어보기, 단 데이터 타입은 float으로 설정. 

``` array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13., 14., 15., 16., 17., 18., 19.])```

A.

In [ ]:
arr = np.arange(20, dtype=float)
arr

Q. 
1. random seed를 0으로 설정  
2. 3x3 크기의 ndarray 생성. 원소는 표준 정규 분포에서 랜덤으로 샘플링.

A.

In [ ]:
np.random.seed(0)
arr = np.random.randn(3, 3)
arr

## handling_shape

### flatten
n dim → 1 dim

In [ ]:
arr = np.zeros((2, 5))
arr

In [ ]:
arr.flatten()

In [ ]:
arr = np.zeros((2, 3, 4))
arr.shape

In [ ]:
arr.flatten()

### reshape

In [ ]:
arr = np.arange(20)
arr

In [ ]:
arr.reshape(4, 5)

In [ ]:
arr.reshape(2, 10)

In [ ]:
arr.reshape(2, 10, order='F')

In [ ]:
arr = np.arange(60)
arr

In [ ]:
arr.reshape(-1, 10)

In [ ]:
arr.reshape(6, -1)

### T

In [ ]:
x = np.arange(6).reshape((-1,3))
x

In [ ]:
x.T

### transpose

In [ ]:
arr = np.arange(20).reshape(4, 5)
arr

In [ ]:
print(arr.transpose().shape)
arr.transpose()

In [ ]:
arr = np.zeros((2, 3, 40))
arr.transpose().shape

In [ ]:
arr = np.arange(30).reshape(3,2,5)
arr

In [ ]:
print(arr.transpose().shape)
arr.transpose()

In [ ]:
print(arr.shape)
arr.transpose((1, 0, 2)).shape

In [ ]:
arr = np.arange(120).reshape(2,3,4,5)
print(arr.shape)
arr.transpose((1, 0, 2, 3)).shape

### 퀴즈-handling_shape

Q. 주어진 배열을 1차원으로 만들기

In [ ]:
arr = np.array([[[ 0,  1,  2,  3,  4], [ 5,  6,  7,  8,  9]], [[10, 11, 12, 13, 14], [15, 16, 17, 18, 19]]])
arr

Q. 배열의 shape을 주어진 shape으로 바꿔보기  
1. (2, 3, 4)  
2. (4, 6)

In [ ]:
arr = np.array([-9,  3,  6,  3, -4, -8,  8, -5, -8,  0,  7,  3,  8,  8,  4, -5, -7, 5, -2, -3, -3, -2,  5,  2])
arr

Q. 다음 배열을 전치시키기 (transpose)

In [ ]:
arr = np.array([[-0.91500241,  0.4276329 ],
                [ 0.385044  , -0.25167676],
                [ 0.04500825, -0.17499328],
                [-0.39521657,  1.65379085],
                [ 1.11924161, -0.26408849]])
arr

Q. 주어진 배열의 shape을 바꾸려고 할 때, 바꿀 수 없는 형태를 고르고 이유를 생각해보기  
1. (2, 2, -1)  
2. (2, -1, 3)  
3. (10, -1)  
4. (5, 5, 5)

In [ ]:
arr = np.random.randint(-10, 10, 100)

### 퀴즈정답-handling_shape

Q. 주어진 배열을 1차원으로 만들기

In [ ]:
arr = np.array([[[ 0,  1,  2,  3,  4], [ 5,  6,  7,  8,  9]], [[10, 11, 12, 13, 14], [15, 16, 17, 18, 19]]])
arr

A.

In [ ]:
print(arr.flatten())
print(arr.reshape(-1))
print(arr.reshape(arr.size))

Q. 배열의 shape을 주어진 shape으로 바꿔보기  
1. (2, 3, 4)  
2. (4, 6)

In [ ]:
arr = np.array([-9,  3,  6,  3, -4, -8,  8, -5, -8,  0,  7,  3,  8,  8,  4, -5, -7, 5, -2, -3, -3, -2,  5,  2])
arr

A.

In [ ]:
print(arr.reshape(2, 3, 4))
print(arr.reshape(2, 3, -1))
print(arr.reshape(2, -1, 4))
print(arr.reshape(-1, 3, 4))

In [ ]:
print(arr.reshape(4, 6))
print(arr.reshape(-1, 6))
print(arr.reshape(4, -1))

Q. 다음 배열을 전치시키기 (transpose)

In [ ]:
arr = np.array([[-0.91500241,  0.4276329 ],
                [ 0.385044  , -0.25167676],
                [ 0.04500825, -0.17499328],
                [-0.39521657,  1.65379085],
                [ 1.11924161, -0.26408849]])
arr

A.

In [ ]:
arr.T

In [ ]:
arr.transpose()

Q. 주어진 배열의 shape을 바꾸려고 할 때, 바꿀 수 없는 형태를 고르고 이유를 생각해보기  
1. (2, 2, -1)  
2. (2, -1, 3)  
3. (10, -1)  
4. (5, 5, 5)

In [ ]:
arr = np.random.randint(-10, 10, 100)

A.  
2번 불가능. 3은 100의 약수가 아님.  
4번 불가능. 현재 배열의 원소는 100개인데 (5, 5, 5)의 원소는 125개이므로 불가능함.

## indexing,slicing,boolean_indexing,fancy_indexing

### indexing, slicing

In [ ]:
arr1d = np.arange(8)
arr1d

In [ ]:
arr1d[1]

In [ ]:
arr1d[-1]

In [ ]:
arr1d[:4]

In [ ]:
arr1d[3:6] = 100 # 브로드캐스팅

In [ ]:
arr1d

In [ ]:
arr2d = np.arange(20).reshape(4, -1)
arr2d

In [ ]:
arr2d[0]

In [ ]:
arr2d[1][2]

In [ ]:
arr2d[1, 2]

In [ ]:
arr2d[:3][:2]

In [ ]:
arr2d[:3, :2]

In [ ]:
arr3d = np.arange(30).reshape(2, 3, -1)
arr3d

In [ ]:
arr3d[1, 0, 2]

### boolean indexing

In [ ]:
arr = np.array([0, 1, 2, 3, 4], int)
arr[[True, False, True, False, True]]

In [ ]:
arr = np.array([10, 20, 30, 40, 50, 60], int)
arr

In [ ]:
arr % 3 == 0

In [ ]:
arr[arr%3==0]

### fancy indexing

fancy indexing: numpy에서 정수 배열을 인덱스로 사용하여 인덱싱 하는 것.

In [ ]:
arr = np.arange(10)*10+5 
arr

In [ ]:
arr[[0, 2, 4, 6]]

In [ ]:
arr2d = np.arange(20).reshape(4, 5)
arr2d

In [ ]:
arr2d[[0, 2]]

In [ ]:
arr2d[[0, 1], [4]]

In [ ]:
arr2d[[0, 1], [4, 3]]   # (0, 4) , (2, 3)

In [ ]:
arr2d[[0, 1, 2], [4, 3, 1]]

### 퀴즈-indexing,slicing,boolean_indexing,fancy_indexing

Q. 주어진 배열에서 4의 배수인 값만 추출하기

In [ ]:
arr = np.array([174, 169, 183, 104, 124, 131, 172, 134, 133, 105, 114, 121, 177,
                142, 143, 151, 114, 163, 177, 147, 140, 155, 196, 192, 121, 134,
                103, 152, 107, 166, 124, 185, 122, 115, 121, 127, 196, 151, 105])
arr

Q. 주어진 배열에서 150보다 작은 값만 추출하기

In [ ]:
arr = np.array([174, 169, 183, 104, 124, 131, 172, 134, 133, 105, 114, 121, 177,
                142, 143, 151, 114, 163, 177, 147, 140, 155, 196, 192, 121, 134,
                103, 152, 107, 166, 124, 185, 122, 115, 121, 127, 196, 151, 105])
arr

Q. 주어진 배열에서 4의 배수이면서 150보다 작은 값만 추출하기

In [ ]:
arr = np.array([174, 169, 183, 104, 124, 131, 172, 134, 133, 105, 114, 121, 177,
                142, 143, 151, 114, 163, 177, 147, 140, 155, 196, 192, 121, 134,
                103, 152, 107, 166, 124, 185, 122, 115, 121, 127, 196, 151, 105])
arr

Q. 
다음 배열의 (2, 3) 원소의 값은?

In [ ]:
arr = np.arange(-20, 20).reshape(4, 10)
arr

Q. 다음 배열을 행렬로 봤을 때 마지막 열을 추출하여라

In [ ]:
arr = np.arange(-20, 20).reshape(4, 10)
arr

Q. 다음 배열을 행렬로 봤을 때 짝수번째 행만 추출하여라

In [ ]:
arr = np.arange(-20, 20).reshape(10, -1)
arr

### 퀴즈정답-indexing,slicing,boolean_indexing,fancy_indexing

Q. 주어진 배열에서 4의 배수인 값만 추출하기

In [ ]:
arr = np.array([174, 169, 183, 104, 124, 131, 172, 134, 133, 105, 114, 121, 177,
                142, 143, 151, 114, 163, 177, 147, 140, 155, 196, 192, 121, 134,
                103, 152, 107, 166, 124, 185, 122, 115, 121, 127, 196, 151, 105])
arr

A.

In [ ]:
arr[arr%4==0]

Q. 주어진 배열에서 150보다 작은 값만 추출하기

In [ ]:
arr = np.array([174, 169, 183, 104, 124, 131, 172, 134, 133, 105, 114, 121, 177,
                142, 143, 151, 114, 163, 177, 147, 140, 155, 196, 192, 121, 134,
                103, 152, 107, 166, 124, 185, 122, 115, 121, 127, 196, 151, 105])
arr

A.

In [ ]:
arr[arr<150]

Q. 주어진 배열에서 4의 배수이면서 150보다 작은 값만 추출하기

In [ ]:
arr = np.array([174, 169, 183, 104, 124, 131, 172, 134, 133, 105, 114, 121, 177,
                142, 143, 151, 114, 163, 177, 147, 140, 155, 196, 192, 121, 134,
                103, 152, 107, 166, 124, 185, 122, 115, 121, 127, 196, 151, 105])
arr

A.

In [ ]:
arr[(arr%4==0)&(arr<150)]

Q. 
다음 배열의 (2, 3) 원소의 값은?

In [ ]:
arr = np.arange(-20, 20).reshape(4, 10)
arr

A.

In [ ]:
arr[2, 3]

In [ ]:
arr[2][3]

Q. 다음 배열을 행렬로 봤을 때 마지막 열을 추출하여라

In [ ]:
arr = np.arange(-20, 20).reshape(4, 10)
arr

A.

In [ ]:
arr[:, -1]

Q. 다음 배열을 행렬로 봤을 때 짝수번째 행만 추출하여라

In [ ]:
arr = np.arange(-20, 20).reshape(10, -1)
arr

A.

In [ ]:
arr[1::2]

In [ ]:
arr[[1, 3, 5, 7, 9]]

## 산술연산

* numpy 배열의 중요한 특징은 for 문을 작성하지 않고 데이터를 일괄 처리할 수 있음(벡터화)

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
arr

In [ ]:
arr + arr

In [ ]:
arr - arr

In [ ]:
arr * arr

In [ ]:
arr / arr

In [ ]:
arr**arr

In [ ]:
arr + 10

In [ ]:
10 - arr

In [ ]:
arr*3

In [ ]:
arr/3

In [ ]:
arr//3

In [ ]:
arr**3

In [ ]:
arr2 = np.array([100, 200, 300])
arr2

In [ ]:
arr

In [ ]:
arr2

In [ ]:
arr + arr2

In [ ]:
arr*arr2

In [ ]:
arr3 = np.array([[100],[200]])
arr3

In [ ]:
arr

In [ ]:
arr3

In [ ]:
arr + arr3

In [ ]:
arr > 3

In [ ]:
arr > arr2

### 퀴즈-산술연산

Q.  다음 배열의 각 원소를 10으로 나누기

In [ ]:
arr = np.array([[740, 230, 730, 130, 390],
                [340, 340, 340, 150, 160],
                [370, 860, 170, 430, 440],
                [480, 280, 370, 100, 110],
                [580, 180, 110, 630, 160]])
arr

Q.  다음 배열 arr과 더하기 연산을 할 수 있는 배열을 모두 고르기  
(실제로 해보기 전에 생각해서 가능 여부를 판단하고 실행시켜서 확인하기)
1. ```np.array([[1], [2], [3]]) ```
2. ``` np.array([1, 2, 3, 4, 5])```
3. ```np.array([1, 2, 3]) ```
4. ```np.array([1])```

In [ ]:
arr = np.array([[740, 230, 730, 130, 390],
                [340, 340, 340, 150, 160],
                [370, 860, 170, 430, 440]])

Q. 다음 배열을 행렬로 보았을 때 마지막 열에만 100을 뺀 행렬을 구하기

In [ ]:
arr = np.array([[174, 169, 183, 104],
                [124, 131, 172, 134],
                [133, 105, 114, 121],
                [142, 143, 151, 114],
                [163, 177, 147, 140],
                [155, 196, 192, 121],
                [103, 152, 107, 166],
                [124, 185, 122, 115],
                [121, 127, 196, 151]])
arr

Q. arr1과 arr2를 이용해서 두가지 ndarray를 만들어보기
1. output: 
```
array([[11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34],
       [41, 42, 43, 44]])
```
2. output:
```
array([[11, 11, 11, 11],
       [22, 22, 22, 22],
       [33, 33, 33, 33],
       [44, 44, 44, 44]])
```

In [ ]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([[10, 10, 10, 10], [20, 20, 20, 20], [30, 30, 30, 30], [40, 40, 40, 40]])

### 퀴즈정답-산술연산

Q.  다음 배열의 각 원소를 10으로 나누기

In [ ]:
arr = np.array([[740, 230, 730, 130, 390],
                [340, 340, 340, 150, 160],
                [370, 860, 170, 430, 440],
                [480, 280, 370, 100, 110],
                [580, 180, 110, 630, 160]])
arr

A.

In [ ]:
arr/10

Q.  다음 배열 arr과 더하기 연산을 할 수 있는 배열을 모두 고르기  
(실제로 해보기 전에 생각해서 가능 여부를 판단하고 실행시켜서 확인하기)
1. ```np.array([[1], [2], [3]]) ```
2. ``` np.array([1, 2, 3, 4, 5])```
3. ```np.array([1, 2, 3]) ```
4. ```np.array([1])```

In [ ]:
arr = np.array([[740, 230, 730, 130, 390],
                [340, 340, 340, 150, 160],
                [370, 860, 170, 430, 440]])

A.

In [ ]:
#1 
arr + np.array([[1], [2], [3]])

In [ ]:
#2
arr + np.array([1, 2, 3, 4, 5])

In [ ]:
#3
arr + np.array([1, 2, 3])

In [ ]:
#4
arr + np.array([1])

Q. 다음 배열을 행렬로 보았을 때 마지막 열에만 100을 뺀 행렬을 구하기

In [ ]:
arr = np.array([[174, 169, 183, 104],
                [124, 131, 172, 134],
                [133, 105, 114, 121],
                [142, 143, 151, 114],
                [163, 177, 147, 140],
                [155, 196, 192, 121],
                [103, 152, 107, 166],
                [124, 185, 122, 115],
                [121, 127, 196, 151]])
arr

A.

In [ ]:
arr + [0, 0, 0, -100]

Q. arr1과 arr2를 이용해서 두가지 ndarray를 만들어보기
1. output: 
```
array([[11, 12, 13, 14],
       [21, 22, 23, 24],
       [31, 32, 33, 34],
       [41, 42, 43, 44]])
```
2. output:
```
array([[11, 11, 11, 11],
       [22, 22, 22, 22],
       [33, 33, 33, 33],
       [44, 44, 44, 44]])
```

In [ ]:
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([[10, 10, 10, 10], [20, 20, 20, 20], [30, 30, 30, 30], [40, 40, 40, 40]])

A.

In [ ]:
arr1 + arr2

In [ ]:
arr1.reshape(4, 1) + arr2

## 유니버셜함수

**유니버셜 함수**  
ndarray 안에 있는 데이터 원소별로 연산을 수행하는 함수  
하나 이상의 스칼라 값을 받아서 하나 이상의 스칼라 값을 반환하는 간단한 함수를 **고속**으로 수행할 수 있는 벡터화 된 함수

|Function|설명|
|---|---| 
|abs, fabs|각 원소의 절대값. 복소수가 아닌 경우 fabs를 쓰면 빠른 연산이 가능|
|sqrt|각 원소의 제곱근 계산(arr**0.5)|
|square|각 원소의 제곱을 계산(arr**2)|
|exp|각 원소에 지수e^x 계산|
|log, log10, log2, log1p|자연로그, 밑10인 로그, 밑2인 로그, log(1+x)|
|sign|각 원소의 부호(양수 1, 영 0, 음수 -1)|
|ceil|각 원소의 값보다 같거나 큰 정수 중 가장 작은 값|
|floor|각 원소의 값보다 같거나 작은 정수 중 가장 큰 값|
|rint|각 원소의 소수자리를 반올림|
|modf|각 원소의 몫과 나머지를 각각의 배열로 반환|
|isnan|각 원소가 NaN인지 아닌지. 불리언 배열로 반환|
|isfinite, isinf|각 원소가 유한한지, 무한한지. 불리언 배열로 반환|
|cos, cosh, sin, sinh, tan, tanh|일반 삼각함수, 쌍곡삼각함수|
|arccos, arccosh, arcsin, arcsinh, arctan, arctanh|역삼각함수|

In [ ]:
arr = np.arange(-3, 3).reshape(3, -1)
arr

In [ ]:
np.exp(arr)

In [ ]:
np.floor(arr)

In [ ]:
np.isinf([np.inf, -np.inf, 1, np.nan])

|Function|설명|
|---|---|
|add|두 배열의 같은 위치의 원소끼리 합함|
|subtract|첫번째 배열의 원소에서 두번째 배열의 원소를 뺌|
|multiply|같은 위치의 원소끼리 곱함|
|divide, floor_divide|첫번째 배열의 원소를 두번째 배열의 원소를 나눔. floor는 몫만 취함|
|power|첫번째 배열의 원소를 두번째 배열의 원소만큼 제곱함|
|maximum, fmax|각 배열의 두 원소 중 큰 값을 반환. fmax는 NaN 무시|
|minimum, fmin|각 배열의 두 원소 중 작은 값을 반환. fmax는 NaN 무시|
|mod|첫번째 배열의 원소를 두번째 배열의 원소로 나눈 나머지|
|copysign|첫번째 배열의 원소의 기호를 두번째 배열의 원소의 기호로 바꿈|
|greater, greater_equal, less, less_equal, less, less_equal,|각 두 원소 간의 비교 연산(<, <=, >, >=, ==, !=)를 불리언 배열로 반환|

In [ ]:
arr1 = np.arange(8).reshape(2, -1)
arr2 = np.arange(-40, 40, 10).reshape(2, -1)
print(arr1)
print(arr2)

In [ ]:
np.maximum(arr1, arr2)

In [ ]:
np.subtract(arr1, arr2)

In [ ]:
np.subtract(arr2, arr1)

In [ ]:
np.multiply(arr1, arr2)

### 퀴즈-유니버셜함수

Q. 
배열의 각 원소에 로그를 씌운 값을 계산하여라.  
```(output: array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])```

In [ ]:
arr = np.arange(1, 10)

Q. 두 배열의 같은 위치에 있는 원소끼리 비교하고 둘 중에 최대값을 취하는 배열을 만들기.  
```output: array([-10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,  10,  20, 30,  40,  50,  60,  70,  80,  90])```

In [ ]:
arr1 = np.arange(-100, 100, 10)
arr2 = np.arange(-10, 10)

### 퀴즈정답-유니버셜함수

Q. 
배열의 각 원소에 로그를 씌운 값을 계산하여라.  
```(output: array([0.        , 0.69314718, 1.09861229, 1.38629436, 1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])```

In [ ]:
arr = np.arange(1, 10)

A.

In [ ]:
np.log(arr)

Q. 두 배열의 같은 위치에 있는 원소끼리 비교하고 둘 중에 최대값을 취하는 배열을 만들기.  
```output: array([-10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1,   0,  10,  20, 30,  40,  50,  60,  70,  80,  90])```

In [ ]:
arr1 = np.arange(-100, 100, 10)
arr2 = np.arange(-10, 10)

A.

In [ ]:
np.maximum(arr1, arr2)

## 기본_통계

* sum
* mean
* std, var
* min, max
* argmin, argmax
* cumsum
* cumprod  
--------
* var
* cov
* corrcoef

In [ ]:
arr = np.random.randn(200, 500)
arr.shape

In [ ]:
arr.sum()    # ndarray의 메서드 이용

In [ ]:
np.sum(arr)     # numpy의 최상위 함수를 이용

In [ ]:
arr.mean()   # ndarray의 메서드 이용

In [ ]:
np.mean(arr)  # numpy의 최상위 함수를 이용

In [ ]:
np.var(arr)

In [ ]:
arr1 = [10, 8, 5, 3, 10]
arr2 = [-1, -4, 2, 1, 5]
np.cov(arr1, arr2)

In [ ]:
np.corrcoef(arr1, arr2)

axis 인자로 축 지정 !

In [ ]:
arr.shape

In [ ]:
arr.mean(axis=0).shape

In [ ]:
arr.mean(axis=1).shape

In [ ]:
arr.sum(axis=0).shape

In [ ]:
arr.sum(axis=1).shape

### 퀴즈-기본_통계

Q. 다음 1차원 배열의 평균과 표준편차를 구하기

In [ ]:
arr = np.arange(-100, 100, 10)

Q. 다음 2차원 배열을 행렬로 보고, 행별로 평균 구하기

In [ ]:
arr = np.array([[ 0,  1,  2,  3,  4],
                [ 5,  6,  7,  8,  9],
                [10, 11, 12, 13, 14],
                [15, 16, 17, 18, 19]])


Q. 다음 2차원 배열을 행렬로 보고, 열별로 분산 구하기

In [ ]:
arr = np.array([[ 0,  1,  2,  3,  4],
                [ 5,  6,  7,  8,  9],
                [10, 11, 12, 13, 14],
                [15, 16, 17, 18, 19]])

Q. 다음 배열의 원소의 전체 합을 구하기

In [ ]:
arr = np.array([[ 0,  1,  2,  3,  4],
                [ 5,  6,  7,  8,  9],
                [10, 11, 12, 13, 14],
                [15, 16, 17, 18, 19]])

### 퀴즈정답-기본_통계

Q. 다음 1차원 배열의 평균과 표준편차를 구하기

In [ ]:
arr = np.arange(-100, 100, 10)

A.

In [ ]:
arr.mean(), arr.std()

In [ ]:
np.mean(arr), np.std(arr)

Q. 다음 2차원 배열을 행렬로 보고, 행별로 평균 구하기

In [ ]:
arr = np.array([[ 0,  1,  2,  3,  4],
                [ 5,  6,  7,  8,  9],
                [10, 11, 12, 13, 14],
                [15, 16, 17, 18, 19]])

A.

In [ ]:
arr.mean(axis=1)

In [ ]:
np.mean(arr, axis=1)


Q. 다음 2차원 배열을 행렬로 보고, 열별로 분산 구하기

In [ ]:
arr = np.array([[ 0,  1,  2,  3,  4],
                [ 5,  6,  7,  8,  9],
                [10, 11, 12, 13, 14],
                [15, 16, 17, 18, 19]])

A.

In [ ]:
arr.var(axis=0)

In [ ]:
np.var(arr, axis=0)

Q. 다음 배열의 원소의 전체 합을 구하기

In [ ]:
arr = np.array([[ 0,  1,  2,  3,  4],
                [ 5,  6,  7,  8,  9],
                [10, 11, 12, 13, 14],
                [15, 16, 17, 18, 19]])

A.

In [ ]:
np.sum(arr), arr.sum()

## any_all

In [ ]:
arr = np.array([True, False, True])
arr.any()

In [ ]:
arr = np.array([True, False, True])
arr.all()

In [ ]:
arr = np.array([0, 0, 3])
arr.any()

In [ ]:
arr = np.array([0, 0, 1])
arr.all()

In [ ]:
arr = np.array([1, 1, 1])
arr.all()

In [ ]:
arr = np.array([5, -1, np.inf])
arr.all()

### 퀴즈-any_all

Q. 주어진 배열을 행렬로 보고, 각 행마다 원소가 하나라도 참이면 True, 그렇지 않으면 False를 반환

In [ ]:
arr = np.array([[0, np.nan, 0, 0.0],
                [0, False, 0.0, 0]])

Q.주어진 배열의 원소 전부가 참이면 True를 반환하고, 그렇지 않으면 False를 반환

In [ ]:
arr = np.array([1.0, np.nan, 2, True])

### 퀴즈정답-any_all

Q. 주어진 배열을 행렬로 보고, 각 행마다 원소가 하나라도 참이면 True, 그렇지 않으면 False를 반환

In [ ]:
arr = np.array([[0, np.nan, 0, 0.0],
                [0, False, 0.0, 0]])

A.

In [ ]:
np.any(arr, axis=1)

Q.주어진 배열의 원소 전부가 참이면 True를 반환하고, 그렇지 않으면 False를 반환

In [ ]:
arr = np.array([1.0, np.nan, 2, True])

A.

In [ ]:
np.all(arr)

## where

np.where(조건, 참일때, 거짓일때)  
" x if 조건 else y "의 벡터화된 버전

In [ ]:
xarr = np.array([100, 200, 300, 400])
yarr = np.array([1, 2, 3, 4])
cond = np.array([True, False, True, False])

In [ ]:
# numpy 사용 => 큰 배열을 빠르게 처리 가능. 다차원일 때도 간결하게 표현 가능
result = np.where(cond, xarr, yarr)
result

In [ ]:
np.where(xarr>200, max(xarr), 0)

In [ ]:
np.where(xarr%3==0, 1, 0 )

### 퀴즈-where

Q. 다음 배열의 원소가 음수인 경우 0으로 만들기

In [ ]:
arr = np.array([[-10,   0,   2,   7,   8,  -8,   7, -10,   6,   0],
                [ -2,   2,  -7,  -6,   3,   2,  -8,  -8,   9,   9],
                [  4,   6,  -9,  -9,   8,   2,  -3,  -6,  -3,  -6],
                [  4,   4,   5,  -6,  -7,   6,   1,  -8, -10,   3],
                [ -5,   4,   8,  -8,  -1,  -7,   1,   6,  -1,   1]])

Q. 다음 배열의 원소가 5보다 큰 경우는 100, 그렇지 않은 경우는 0으로 만들기

In [ ]:
arr = np.array([[-10,   0,   2,   7,   8,  -8,   7, -10,   6,   0],
                [ -2,   2,  -7,  -6,   3,   2,  -8,  -8,   9,   9],
                [  4,   6,  -9,  -9,   8,   2,  -3,  -6,  -3,  -6],
                [  4,   4,   5,  -6,  -7,   6,   1,  -8, -10,   3],
                [ -5,   4,   8,  -8,  -1,  -7,   1,   6,  -1,   1]])

### 퀴즈정답-where

Q. 다음 배열의 원소가 음수인 경우 0으로 만들기

In [ ]:
arr = np.array([[-10,   0,   2,   7,   8,  -8,   7, -10,   6,   0],
                [ -2,   2,  -7,  -6,   3,   2,  -8,  -8,   9,   9],
                [  4,   6,  -9,  -9,   8,   2,  -3,  -6,  -3,  -6],
                [  4,   4,   5,  -6,  -7,   6,   1,  -8, -10,   3],
                [ -5,   4,   8,  -8,  -1,  -7,   1,   6,  -1,   1]])

A.

In [ ]:
np.where(arr<0, 0, arr)

Q. 다음 배열의 원소가 5보다 큰 경우는 100, 그렇지 않은 경우는 0으로 만들기

In [ ]:
arr = np.array([[-10,   0,   2,   7,   8,  -8,   7, -10,   6,   0],
                [ -2,   2,  -7,  -6,   3,   2,  -8,  -8,   9,   9],
                [  4,   6,  -9,  -9,   8,   2,  -3,  -6,  -3,  -6],
                [  4,   4,   5,  -6,  -7,   6,   1,  -8, -10,   3],
                [ -5,   4,   8,  -8,  -1,  -7,   1,   6,  -1,   1]])

A.

In [ ]:
np.where(arr>5, 100, 0)

## sort

sort 메서드 사용

In [ ]:
arr = np.random.randint(1, 100, size=10)
arr

In [ ]:
arr.sort()
arr

In [ ]:
#np.sort와 차이점: np.sort는 배열을 직접 변경하지 않고 정렬된 결과를 가진 복사본을 반환
arr = np.random.randint(1, 100, size=10)
np.sort(arr)

In [ ]:
arr

In [ ]:
-np.sort(-arr)

### 퀴즈-sort

Q.  다음 배열을 오름차순으로 정렬하기

In [ ]:
arr = np.array([14, 59, 2,  2, 95, -68, 4, 83, 74, 43, -9, 72, 81, -74, 78, 38, 30, -97,  -2, 96])
arr

Q. 다음 배열을 행렬로 보고, 각 행별로 정렬하기(오름차순)

In [ ]:
arr = np.array([[  5,  -4,  -4,   6,  -6],
                [ -4,   8,  -2,   8, -10],
                [ -9,  -9,   0,  -4,   8],
                [ -1,  -9,   4,   1,   3],
                [ -7,  -1,  -4, -10,   2]])
arr

### 퀴즈정답-sort

Q.  다음 배열을 오름차순으로 정렬하기

In [ ]:
arr = np.array([14, 59, 2,  2, 95, -68, 4, 83, 74, 43, -9, 72, 81, -74, 78, 38, 30, -97,  -2, 96])
arr

A.

In [ ]:
np.sort(arr)

In [ ]:
arr.sort()
arr

Q. 다음 배열을 행렬로 보고, 각 행별로 정렬하기(오름차순)

In [ ]:
arr = np.array([[  5,  -4,  -4,   6,  -6],
                [ -4,   8,  -2,   8, -10],
                [ -9,  -9,   0,  -4,   8],
                [ -1,  -9,   4,   1,   3],
                [ -7,  -1,  -4, -10,   2]])
arr

A.

In [ ]:
np.sort(arr, axis=1)

In [ ]:
arr.sort(axis=1)
arr

## 선형대수

### np.dot(x, y): x와 y의 dot product

In [ ]:
x = np.random.randint(-5, 5, size=10)
y = np.random.randint(-10, 10, size=10)
x.shape, y.shape

In [ ]:
x.dot(y)

In [ ]:
np.dot(x, y)

In [ ]:
x = np.array([[1, 2, 3], [4, 5, 6]])
y = np.array([[2, -3], [1, 6], [-1, 2]])
x.shape, y.shape

In [ ]:
np.dot(x, y)  # x와 y가 둘 다 1차원인 경우만 권장. 아닌 경우는 권장하지 않음.

### np.matmul(x, y): matrix product 
    - 둘 다 2d일 때 일반적인 매트릭스 곱으로 생각하면 됨. (n,k),(k,m)->(n,m).
    - 차원이 다를 때 broadcast 일어남.

In [ ]:
a = np.random.randint(-3, 3, 10).reshape(2, 5)
b = np.random.randint(0, 5, 15).reshape(5, 3)
a.shape, b.shape

In [ ]:
ab = np.matmul(a, b)
print(ab.shape,'\n')
print(ab)

In [ ]:
np.matmul(b, a)  # matrix곱할때는 shape이 맞도록

In [ ]:
c = np.arange(24).reshape(2, 3, 4)
d = np.arange(2*4*5).reshape(2, 4, 5)
c.shape, d.shape

In [ ]:
c

In [ ]:
d

In [ ]:
c.shape, d.shape

In [ ]:
arr = np.matmul(c, d)
arr

In [ ]:
arr.shape

### np.diag(x)
    - x가 1d일 때:정사각 행렬의 대각/비대각 원소를 1차원 배열로 반환
    - x가 2d일 때: 주어진 1차원 배열을 대각선 원소로 하고 나머지는 0인 행렬 반환

In [ ]:
matrix = np.arange(25).reshape(5, 5)
matrix

In [ ]:
np.diag(matrix)

In [ ]:
np.diag([10, 30, 1150])

In [ ]:
np.diag(np.diag(matrix))

### np.trace(x)
    - 행렬의 대각 원소의 합을 계산

In [ ]:
matrix = np.arange(9).reshape(3, 3)
matrix

In [ ]:
np.trace(matrix)

### np.linalg.det(x)
    - 행렬의 determinant(행렬식) 계산

In [ ]:
matrix = np.array([[10, 5], [2, 3]])
matrix

In [ ]:
np.linalg.det(matrix)

In [ ]:
matrix = np.array([[10, 10], [2,2]])
np.linalg.det(matrix)

### np.linalg.eig(x)
    - 매트릭스의 고유값, 고유 벡터를 반환
    - returns : w-고유값, v-고유벡터
    - 고유벡터 v[:, i] 에 대응하는 고유값은 w[i].

In [ ]:
matrix = np.array([[1, 2], [4, 6]])

In [ ]:
w, v = np.linalg.eig(matrix)

In [ ]:
w # eigenvalues

In [ ]:
v # normalized (unit “length”) eigenvectors

In [ ]:
np.matmul(matrix, v[:, 0])

In [ ]:
w[0]*v[:, 0]

### np.linalg.inv(x)
    - matrix의 inverse

In [ ]:
matrix = np.array([[10, 20], [30, 40]])
matrix

In [ ]:
inv_matrix = np.linalg.inv(matrix)
inv_matrix

In [ ]:
matrix@inv_matrix

In [ ]:
# inverse가 존재하지 않는 경우
matrix = np.array([[10, 20], [-1, -2]])
np.linalg.inv(matrix)

### np.linalg.solve(A, b)
    - Ax = b 인 해 x를 반환

In [ ]:
A = np.array([[3, 1, -2], 
              [0, -5, 7], 
              [4, 0, 1]])
b = np.array([-5,  1, -1])
x = np.linalg.solve(A, b)
x

In [ ]:
np.matmul(A, x), b

In [ ]:
# 해가 존재하지 않는 경우 에러 발생
A = np.array([[1, -2, 3], [2, 9, 6], [-1, 7, -3]])
b = np.array([1,  2, 3])
x = np.linalg.solve(A, b)
x

### 퀴즈-선형대수

Q. 다음 코드를 실행해보기 전에 오류가 날지 안날지 생각해보기.

In [ ]:
arr1 = np.arange(-10, 10).reshape(2, 10)
arr2 = np.arange(-20, 20, 2).reshape(2, 10)
np.matmul(arr1, arr2)

Q. 다음 두 매트릭스를 곱해서 2 x 2 매트릭스 만들기

In [ ]:
arr1 = np.arange(-10, 10).reshape(2, 10)
arr2 = np.arange(-20, 20, 2).reshape(2, 10)

Q. 다음 매트릭스의 determinant 구해보기

In [ ]:
arr = np.array([[ 8.70,  8.88,  18.0,  4.45, -7.13,  4.41],
                [ 3.22,  3.51,  5.01, -4.10,  9.86, -2.69],
                [-4.09,  -8.9,  7.76,  1.87,  4.06, -1.19],
                [ 4.47,   -7,  -16.9,  4.00,  5.89,  -4.5],
                [ 9.11, -8.82,  5.57, -4.09,  -3.9, -1.08],
                [ 3.87, -2.00,  3.70,  1.45, -28.5,  4.71]])

Q. 다음 코드를 실행해보고 오류가 나는 이유를 생각해보기

In [ ]:
matrix = np.array([[5, 2, 7, -1], [1, 4, 6, 2], [3, 7, 9, 0], [10, 4, 14, -2]])
np.linalg.inv(matrix)

### 퀴즈정답-선형대수

Q. 다음 코드를 실행해보기 전에 오류가 날지 안날지 생각해보기.

In [ ]:
arr1 = np.arange(-10, 10).reshape(2, 10)
arr2 = np.arange(-20, 20, 2).reshape(2, 10)
np.matmul(arr1, arr2)

A. 차원이 맞지 않아서 에러가 생김

Q. 다음 두 매트릭스를 곱해서 2 x 2 매트릭스 만들기

In [ ]:
arr1 = np.arange(-10, 10).reshape(2, 10)
arr2 = np.arange(-20, 20, 2).reshape(2, 10)

A.

In [ ]:
np.matmul(arr1, arr2.T)

Q. 다음 매트릭스의 determinant 구해보기

In [ ]:
arr = np.array([[ 8.70,  8.88,  18.0,  4.45, -7.13,  4.41],
                [ 3.22,  3.51,  5.01, -4.10,  9.86, -2.69],
                [-4.09,  -8.9,  7.76,  1.87,  4.06, -1.19],
                [ 4.47,   -7,  -16.9,  4.00,  5.89,  -4.5],
                [ 9.11, -8.82,  5.57, -4.09,  -3.9, -1.08],
                [ 3.87, -2.00,  3.70,  1.45, -28.5,  4.71]])

A.

In [ ]:
np.linalg.det(arr)

Q. 다음 코드를 실행해보고 오류가 나는 이유를 생각해보기

In [ ]:
matrix = np.array([[5, 2, 7, -1], [1, 4, 6, 2], [3, 7, 9, 0], [10, 4, 14, -2]])
np.linalg.inv(matrix)

A.  inverse matrix가 존재하지 않는 Singular matrix이기 때문